[class^=icon-]{display: inline-block;background-size: contain;background-repeat: no-repeat;background-position: 0 0;font-style: normal;font-size: 0;line-height: 1;}

.icon-app{width: 50px;height: 50px;background-image: url('../images/app-icon.svg');border-radius: 8px;}

.font-size-12px{font-size: 12px !important;}
.font-size-14px{font-size: 14px !important;}
.font-size-16px{font-size: 16px !important;}
.font-size-18px{font-size: 18px !important;}
.font-size-30px{font-size: 30px !important;}

.min-width-100px{min-width: 100px;}

.cursor-pointer{cursor: pointer;}

hr{margin: 0;border-width: 5px;border-color: #eee;}
.hr{
    border-top: 1px solid #e5e5e5;border-bottom: 1px solid #e5e5e5;height: 8px;background: #f1f2f3;
    &.vertical{border-top: 0;border-bottom: 0;border-left: 1px solid #e5e5e5;border-right: 1px solid #e5e5e5;width: 8px;height: auto;}
}

button{border-radius: 0;border: 0;padding: 0;margin: 0;background: transparent;}

.material-icons{color: $dark;}
.btn-dark{
    .material-icons{color: #fff;font-size: 17px;transform: translateY(-1px);}
}
.btn{
    &.btn-foursquare{
        padding: 0;line-height: 30.5px;width: 32.5px;font-size: 18px;
        &.btn-sm{width: 27px;line-height: 25px;}
    }
}

textarea{resize: none!important;}

.bg-highlight{background: #e2eaff;}

.required{background-color: #fae6df !important;border-color: #ddcac4;}

.table{
    > thead > tr > th{white-space: nowrap;}
    th,
    td{
        [type=checkbox]{margin-top: -2px;}
    }
    > tfoot > tr > td{background: #f3f3f3;border-top: 2px solid $table-border-color;}
}
.table-fixed{table-layout: fixed;}
.table-center{
    th,
    td{text-align: center;}
}
.table-title{font-weight: 700;margin-bottom: .5rem;}
.table-bg-1{background: #e6e7e8 !important;}

input[type=file].form-control{
    padding-top: 3px;
}

input[type=text]{
    &[disabled]{background-color: #f2f2f2;}
}

input[type=checkbox]{
    vertical-align: middle;
    & + label{margin-left: 3px;vertical-align: middle;transform: translateY(-1px);}
    label + &{margin-left: 12px;}
}

input[type=radio]{
    vertical-align: middle;
    & + label{margin-left: 3px;vertical-align: middle;}
    label + &{margin-left: 12px;}
}

.custom-checkbox.without-label{
    padding-left: 0;min-height: 1rem;font-size: 0;
    .custom-control-input{width: 1rem;height: 1rem;}
    .custom-control-label::before{left: 0;}
    .custom-control-label::after{left: 0;}
}

.checkbox-inline{
    position: relative;cursor: pointer;padding-top: 0!important;min-height: 16px;line-height: 16px;padding-left: 25px;margin-bottom: 0;
    input{
        position: absolute;top: 0;bottom: 0;width: 16px;height: 16px;left: 0;-webkit-appearance: none;-moz-appearance: none;-o-appearance: none;appearance:none;
        &:before{
            content: '';display: inline-block;width: 16px;height: 16px;background: #fff;position: absolute;border: 1px solid $input-border-color;transition: all .2s;
        }
        &:after{
            content: '';position: absolute;width: 16px;height: 16px;left: 0;right: 0;text-align:center;
        }
        &:checked:before{
            background: $primary;border-color: $primary;
        }
        &:checked:after{
            content: '\2713';color: #fff;
        }
    }
    &.without-label{padding-left: 16px;}
    &.radio input{
        &:before{
            border-radius: 50%;
        }
        &:after{
            width: 6px;height: 6px;border-radius: 50%;left: 5px;top: 5px;
        }
        &:checked:after{
            content: '';background: #fff;
        }
    }
}

.form-datepicker{
    background: #fff url('../images/icon-calendar.svg') no-repeat right .5rem top 50%;padding-right: 28px;
    &.form-control-sm{background-size: auto 13px;}
}

/* .form-timepicker{
    background: #fff url('../images/icon-clock.svg') no-repeat right .5rem top 50%;padding-right: 30px;
    &.form-control-sm{background-size: auto 14px;}
} */

.mdtimepicker{
    .mdtp__wrapper{bottom: auto;top: 50%;transform: translate(-50%, -50%);transition: none;}
}

.datepicker-box{
    position: absolute;left: 430px;top: 0;
    border-radius: 8px;
    box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    overflow: hidden;
    .ui-widget.ui-datepicker{border: 0;}
}
.ui-widget.ui-datepicker{
    width: 300px;padding: 1rem;border-radius: 0;border-color: $input-border-color !important;
    .ui-widget-header{background: #fff;border: 0;}
    .ui-state-default{border: 0;}
    td span,
    td a{text-align: center;border-radius: 10px;padding: 6px 2px 0;margin: 0 2px;width: 31px;height: 31px;background: none;}
    .ui-state-highlight{background: $light;color: #000;}
    .ui-state-active{background: $primary;color: #fff !important;}
    .ui-datepicker-calendar{
        font-size: inherit;
        > thead th{border-top: 1px solid #ececea;border-bottom: 1px solid #ececea;}
        > thead th.ui-datepicker-week-end:first-child,
        > tbody td.ui-datepicker-week-end:first-child a{color: $danger;}
        > tbody tr:first-child a,
        > tbody tr:first-child span{margin-top: 8px;}
    }
    .ui-datepicker-prev{
        cursor: pointer;
        .ui-icon{display: none;}
        &::before{content: '';display: inline-block;width: 0;height: 0;border-style: solid;border-width: 5px 7px 5px 0;border-color: transparent $primary transparent transparent;position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);}
    }
    .ui-datepicker-next{
        cursor: pointer;
        .ui-icon{display: none;}
        &::before{content: '';display: inline-block;width: 0;height: 0;border-style: solid;border-width: 5px 0 5px 7px;border-color: transparent transparent transparent $primary;position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);}
    }
    select.ui-datepicker-month,
    select.ui-datepicker-year{width: auto;border: 0;font-size: 15px;}
    select.ui-datepicker-month{margin-left: 12px;}
}

textarea.form-control{resize: none;}

@function arrow($direction, $color:212222) {
    $iconList: (
        down: "%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.419' height='8'%3E%3Cpath d='m218.678 92.151 5.419 5.419-5.419 5.419 1.29 1.29 6.71-6.71-6.71-6.71z' transform='rotate(90 161.479 -57.199)' fill='%23#{$color}'/%3E%3C/svg%3E%0A"
    );
    $icon: map-get($iconList, $direction);
    @return url("data:image/svg+xml;charset=utf8,#{$icon}");
}


.pagination{
    margin-top: 1rem;justify-content:center; width:100%;
    .page-link{width: 32px;height: 32px;padding: 0;display: flex;align-items: center;justify-content: center;}
}

.modal-backdrop ~ .modal-backdrop{
    z-index: 1051;
    ~ .modal-backdrop{z-index: 1053;}
}
.modal[data-overlap=true]{
    z-index: 1052;
}

.mCSB_scrollTools{width: 12px;}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width: 5px;border-radius: 6px;}
.mCSB_inside>.mCSB_container{margin-right: 20px;}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
    background-image: url('../images/icon-arrow-left.svg');background-size: contain;width: 12.8px;height: 23px;margin-top: -11.5px;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
    background-image: url('../images/icon-arrow-right.svg');background-size: contain;width: 12.8px;height: 23px;margin-top: -11.5px;
}

.tab-custom{
    border-bottom: 1px solid #ddd;padding: .5rem 1.5rem;background-color: $card-cap-bg;
    .nav-tabs{
        border-bottom: 0;margin-left: -1rem;margin-right: -1rem;margin-bottom: -.5rem;
        .nav-link{
            font-weight: 700;color: #999;position: relative;transition: .2s;
            &.active{
                color: $dark;
            }
        }
    }
    .card-header &{
        margin: -1rem -1.25rem;background: none;
    }
}

.nav-justified{
    .nav-link:not(.active){background: #f1f2f3;}
}

.more{
    display: inline-block;width: 30px;height: 30px;border: 1px solid $border-color;position: relative;
    &::after{content: '';display: block;width: 10px;height: 10px;background: url('../images/icon-plus-red.svg') 50% 50% no-repeat;transition:transform 0.7s ease;position: absolute;left:50%;top:50%;margin: -5px 0 0 -5px;}
    &:hover::after{-webkit-transform: rotate(180deg);transform: rotate(180deg);}
}

.title{
    font-size: 24px;font-weight: 700;padding: 1rem;border-bottom: 1px solid #ddd;
}

.sub-title{
    font-size: 20px;font-weight: 700;margin-bottom:3rem;
    @include media-breakpoint-down(md) {
        font-size: 24px;margin-bottom: 1.5rem;
    }
}

.sub-title-point{
    position: relative;padding-left: 40px;line-height: 24px;margin-bottom: 40px;margin-top: 60px;
    &::before{content: '';background: url('../images/title-point.svg') no-repeat 0 0;background-size: contain;width: 24px;height: 24px;position: absolute;left: 0;top: 0;}
    font-size: 22px;font-weight: 700;
    @include media-breakpoint-down(md) {
        font-size: 17px;padding-left: 30px;margin-bottom: 25px;line-height: 18px;margin-top: 54px;
        &::before{background-size: 18px 18px;width: 18px;height: 18px;}
    }
}

.table-view{
    border-top: 1px solid #000;
    tbody{
        th{background: none;font-weight: 700;}
        th.tit{font-size: 22px;padding-top: 1.5rem;padding-bottom: 1.5rem;height: auto;}
    }
    .viewwrap{
        line-height: 1.8;
        p{margin: 1em 0;}
    }
}

.section{background: #fff;position: relative;overflow: hidden;}

.split-horizontal {
    display: flex;flex-direction: row;overflow-y: auto;
    overflow-x: hidden;
}

.gutter {
    background-color: #f1f2f3;background-repeat: no-repeat;background-position: 50%;position: relative;
    &.gutter-horizontal {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
        cursor: col-resize;
        border-left: 1px solid #e5e5e5;
        border-right: 1px solid #d5d5d5;
    }
    &.gutter-vertical {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
        cursor: row-resize;
        border-top: 1px solid #e5e5e5;
        border-bottom: 1px solid #d5d5d5;
    }
}

tr.selected{
    th,
    td{background: #fff3dc;}
}

.bootstrap-timepicker{
    .input-group-addon{
        position: absolute;right: .5rem;top: 50%;z-index: 3;transform: translateY(-50%);line-height: 1;
        i{font-size: 16px;color: #888a8d;}
    }
    .form-control-sm + .input-group-addon{
        i{font-size: 13px;width: 13px;height: 13px;}
    }
}
.bootstrap-timepicker-widget{
    box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.06);
    table td input{width: 30px;padding-top: 3px;}
}