.menu-list{
    .overflow-y-scroll{height: 100%;}
    border: 1px solid #ddd;padding: 1rem;height: 320px;line-height: 1.6;
    .all-list{
        span,
        a{display: block;padding: .1rem .25rem;}
        a.selected{background: #fff2dc;color: #000;}
        > li{
            > span{font-weight: 700;}
        }
    }
    .dep2{
        > li{
            > span{padding-left: .75rem;font-weight: 700;}
        }
    }
    .dep3{
        > li{
            > a{padding-left: 1.5rem;}
        }
    }
    .selected-list{
        line-height: 1.6;
        li{
            > a{display: block;padding: .1rem .25rem;}
        }
    }
}

.profile{
    width: 190px;height: 0;padding-bottom: 133.3333%;
    background: #f8f8f8 url('../images/icon-profile.svg') no-repeat 50% 50%;background-size: 90% auto;position: relative;
    img{width: 100%;height: 100%;position: absolute;left: 0;top: 0;object-fit: cover;}
}

.list-group-item{
    h5{font-size: 14px;}
    p{font-size: 13px;}
}

.bg-1{background: #eaffdb;}
.bg-2{background: #ffe3e3;}
.bg-3{background: #fff3cd;}
.bg-4{background: #e6eefa;}
.bg-5{background: #f6e0ff}
.bg-6{background: #f1f1f1 !important;}

.weekly-schedule{
    line-height: 1.2;font-size: 12px;
    .table{
        height: 500px;
        th,
        td{padding: 5px;}
        tbody{
            th,td{height: 58px;}
            tr:first-child{
                th,td{height: auto;}
            }
        }
    }
    .where + .subject{margin-top: .25rem;}
    .first-cell td{height: 30px !important;padding: 3px !important;}
    &.mini{
        .table{height: 340px;}
        tbody{
            th,td{height: 45px;}
        }
    }
}

.class-schedule{
    line-height: 1.5;
    .table{
        th,
        td{padding: 5px;position: relative;}
    }
    .fc-header-toolbar{
        > div{flex-basis: 0;flex-grow: 1;}
        .fc-center > div{justify-content: center;}
        .fc-right{text-align: right;}
    }
    &.highlight-korean [data-subject=korean]{background: #eaffdb;}
    &.highlight-math [data-subject=math]{background: #ffe3e3;}
    &.highlight-english [data-subject=english]{background: #fff3cd;}
    &.highlight-science [data-subject=science]{background: #e6eefa;}
    &.highlight-social [data-subject=social]{background: #f6e0ff;}
    &.highlight-formal [data-type=formal]{
        &::before{content: '';position: absolute;left: -1px;top: -1px;right: -1px;bottom: -1px;border: 2px solid lighten($info, 30);}
    }
    &.highlight-formal [data-type=optional]{
        &::before{content: '';position: absolute;left: -1px;top: -1px;right: -1px;bottom: -1px;border: 2px solid lighten($info, 30);}
    }
    &.highlight-dividing [data-dividing=true]{
        > div{color: $green;font-weight: 700;}
    }
    td.clicked{
        background: #687077;
        > div{color: #fff;}
    }
}

.schedule-highlight{
    .toggler{transform: rotate(180deg);line-height: 1;}
    .toggler-sub{
        transform: rotate(180deg);vertical-align: middle;display: inline-block;
        .material-icons{vertical-align: middle;}
    }
    label{font-weight: 500;}
    .card{
        border-radius: 0;
        &.collapsed{
            .card-body{display: none}
            .toggler{transform: rotate(0);}
        }

    }
    .card + .card{border-top: 0;}
    .card-header{
        position: relative;font-size: 14px;border-bottom: 0;background: #fff;padding: .75rem 1rem;
        .toggler{position: absolute;right: .75rem;top: 50%;margin-top: -15px;
            .material-icons{font-size: 30px;}
        }
    }
    .card-body{
        padding: 0 1rem 1rem 2.25rem;
        li + li{margin-top: .25rem;}
        ul ul{padding-left: 1.5rem;margin-top: .25rem;}
        li.collapsed{
            ul{display: none;}
            .toggler-sub{transform: rotate(0);}
        }
    }
}

.action{
    display: inline-flex;align-items: center;
    > a,
    > span{margin: 0 2px;border: 1px solid #eee;border-radius: 3px;display: inline-block;padding: 3px 5px;color: #d5d5d5;font-size: 12px;line-height: 1;font-weight: 500;text-decoration: none;
        &.active{
            border-color: $danger;color: $danger;cursor: pointer;
        }
    }

}


.fc-button{
    .fr-icon{vertical-align: top;}
}
.fc-prev-button{padding: 3px;margin: 0 20px 0 0;}
.fc-next-button{padding: 3px;margin: 0 0 0 20px;}
.fc-header-toolbar{
    margin-bottom: 1rem !important;
    .fc-left{width: 25%;}
    .fc-center{
        width: 50%;
        > div{display: flex;align-items: center;justify-content: center;}
        h2{font-size: 18px;text-align: center;line-height: 1;
            small{font-size: 13px;font-weight: 500;}
        }
    }
    .fc-right{width: 25%;text-align: right;}
}
.fc-day-header{padding: 5px 0;}
.fc-time-grid-event{
    .fc-time{font-size: 12px;font-weight: 500;padding-top: 2px;}
    .fc-title{font-size: 12px;font-weight: 700;padding-top: 2px;}
    &.fc-short .fc-title{font-size: 12px;font-weight: 500;padding-top: 2px;}
}
.fc-event{cursor: pointer;}
.fc-time-grid .fc-slats td{height: 2.3vh;}
.fc-button{padding-top: .21em;padding-bottom: .25em;border-radius: 0;}

.level-1{border-color: lighten($black,95);background-color: lighten($black,95);color: #444;}
.level-2{border-color: lighten($black,85);background-color: lighten($black,85);color: #444;}
.level-3{border-color: lighten($black,70);background-color: lighten($black,70);color: #444;}
.level-4{border-color: lighten($black,60);background-color: lighten($black,60);color: #444;}
.scheduled{border-color: #4c90f9;background-color: #4c90f9;color: #fff !important;}

.make-up{
    .fc-header-toolbar{
        .fc-center{
            h2{font-size: 16px;}
        }
    }
    .fc-time-grid-event{
        .fc-content{height: 100%;display: flex;align-items: center;justify-content: center;}
        .fc-time{display: none;}

    }
    .fc-time-grid{
        .fc-slats{
            td{height: 1.8vh;}
        }
    }
}

.list-group-toggle{
    .list-group-top{position: relative;}
    .student-name{position: absolute;right: 1rem;top: 1rem;z-index: 1;line-height: 1;}
    a.list-group-item{text-decoration: none;}
    .list-group-detail{
        border: 1px solid #ddd;border-top: 0;border-bottom: 0;display: none;position: relative;
        > p{font-weight: 500;}
        label{color: $secondary;}
    }
    .active{
        background: #f7f8f8;
        .list-group-item{background: #f7f8f9;}
        .list-group-detail{display: block;}
    }
    .item-wrap + .item-wrap{margin-top: 10px;}
}

.seat{
    display: flex;justify-content: center;overflow: hidden;
    .divider{
        display: flex;margin: 0 20px;
        span{display: block;width: 1px;height: 100%;background: #ddd;}
    }
    ol{
        margin: 0 10px;
        li{padding: 6px 0;}
        a{
            height: 32.5px;text-align: center;display: flex;align-items: center;justify-content: center;border: 1px solid #ddd;width: 60px;line-height: 1;text-decoration: none;background: url('../images/bg-btn-line.png') 0 0 repeat;border: 1px solid #e5e5e5;
            &[aria-pressed=true]{
                position: relative;border-width: 3px;border-color: #555 !important;
            }
            &[disabled],
            &.disabled{opacity: 0.4;cursor: default;pointer-events: none;}
        }

    }
}

[data-seat-status]{
    width: 12px;height: 12px;display: inline-block;vertical-align: middle;border: 1px solid #ddd;transform: translateY(-1px);
    &[data-seat-status=completion]{background: #d7fcee !important;border-color: #d4e6df;}
    &[data-seat-status=warning]{background: #ffddd3 !important;border-color: #dfcdcd;}
    &[data-seat-status=learning]{background: #eee !important;border-color: #ddd;}
    &[data-seat-status=approval]{background: #bbb !important;border-color: #aaa;}
}

.seat-desc{
    dl{display: flex;align-items: center;}
    dd{margin-left: 5px;margin-right: 15px;}
}

.immersion-point{
    > a{padding: 0;width: 32px;height: 32px;text-align: center;line-height: 32px;font-weight: 700;}
}

.report{
    max-width: 21cm;margin: 0 auto;
}

.sms-area{
    width: 440px;background: #f2f3f4;padding: 1.5rem;
    .sms-header{margin-top: .5rem;}
    .sms-body{margin-top: 5px;}
    .sms-test{
        display: flex;align-items: center;justify-content: center;padding: .5rem;
        border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;margin-top: 1rem;
    }
    .sms-footer{
        margin-top: 1.5rem;
    }
}

.message {
    $msgColor: #e5e6e7;
    position: relative;margin-left: 20px;padding: 10px;background-color: $msgColor;width: 260px;border: 1px solid $msgColor;border-radius: 10px;;
    .message-title{font-weight: 700;}
    .message-content {
        padding: 0;margin: 0;
        &::after {
            content: '';position: absolute;width: 0;height: 0;border-top: 15px solid $msgColor;border-left: 15px solid transparent;border-right: 15px solid transparent;top: 0;left: -15px;
        }
        &::before {
            content: '';position: absolute;width: 0;height: 0;border-top: 17px solid $msgColor;border-left: 16px solid transparent;border-right: 16px solid transparent;top: -1px;left: -17px;
        }
    }
}

.push-area{
    width: 560px;background: #f2f3f4;padding: 1.5rem;
}

.push-outer{
    position: relative;border-radius: 40px;padding: 1.5rem;background: #444;
    color: #fff;
    .form-control{border-color: #444;}
    &.locked{border-radius: 1rem;padding: 1rem;}
    strong{display: block;margin-bottom: .25rem;}
}

.table-dashboard-style{
    .table{
        background: #fff;border-color: #ccc;
        thead th{background: #f4f4f4;}
        & th,
        & td {border-color: #ccc;}
        tr:nth-child(even){
            th,
            td{background: #f8f8f8;}
        }
    }
}

.seat{
    .table{
        thead{display: none;}
        td{
            height: 25px;padding: 0;
            &:hover, &.hover {
                background-color: lighten($light, 10);
            }
            &.ui-selecting {
                background-color: darken($yellow, 15);border-color: #e2ca9d;
                &.ui-selected {
                    background-color: darken($yellow, 15);
                }
            }
            &.ui-selected {
                background-color: $yellow;border-color: #f7e1b9;
            }
        }
    }
}
.ui-lasso {display: none;}

.selectedInstructor{
    & + &::before{content: ', ';}
}

.student-assign{
    .table{
        td{padding-top: .3rem;padding-bottom: .3rem;}
    }
}

.table-answer-sheet{
    th,
    td{padding-left: .25rem;padding-right: .25rem;}
}

.half-yearly-schedule{
    th,
    td{padding-top: .3rem;padding-bottom: .3rem;}
}

.collapsed{
    i.fa-caret-up{transform: rotate(180deg);}
}