.login{
    background: #50575f;height: 100%;width: 100%;
    .inner{
        width: 450px;margin: 0 auto;background: #f5f5fa;padding: 3rem;border-radius: .75rem;box-shadow: 3px 5px 15px rgba(0,0,0,0.05);
    }
}