<!DOCTYPE html>
<html lang="ko">

<head>
    @@include('@@webRoot/_include/_head.html')
</head>

<body>

    <div id="wrap">

        @@include('@@webRoot/_include/_header.html')

        <div id="container-block">

            @@include('@@webRoot/_include/_aside.html')

            <main id="content" role="main">

                <!-- 컨텐츠 시작 -->
                <h2 class="title">수강생리스트</h2>
                <div class="p-3 border-bottom">
                    <div class="row justify-content-between">
                        <div class="col-auto">
                            <div class="d-flex align-items-center">
                                <select name="" id="" class="custom-select w-auto mr-2">
                                    <option value="">연도</option>
                                </select>
                                <select name="" id="" class="custom-select w-auto mr-2">
                                    <option value="">관</option>
                                </select>
                                <select name="" id="" class="custom-select w-auto mr-2">
                                    <option value="">반</option>
                                </select>
                                <select name="" id="" class="custom-select w-auto mr-2">
                                    <option value="">미입력정보</option>
                                </select>
                                <select name="" id="" class="custom-select w-auto mr-2">
                                    <option value="">학생ID</option>
                                    <option value="">카드번호</option>
                                </select>
                                <input type="text" class="form-control d-inline-block w-auto mr-2">
                                <button type="button" class="btn btn-dark">검색</button>
                            </div>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-dark">파일업로드</button>
                            <button type="button" class="btn btn-dark ml-1">파일다운로드</button>
                            <button type="button" class="btn btn-dark ml-1" data-toggle="modal" data-target="#modal-student-add">등록</button>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <div class="p-3">
                        <div class="row align-items-center mb-2">
                            <div class="col-auto">
                                <strong class="mr-2">학생</strong>총 ###건
                            </div>
                            <div class="col-auto">
                                <input type="checkbox" id="usableOnly">
                                <label for="usableOnly" class="mb-0">신규 재원생 보기</label>
                            </div>
                        </div>
                        <div class="main_search_result_list">
                            <!-- softpuzzle에서 쓰는 datatable 고정 클래스명 -->
                            <table class="table" id="datatable1">
                                <thead>
                                    <tr>
                                        <th class="text-center" rowspan="2">No</th>
                                        <th class="text-center" rowspan="2">학생ID</th>
                                        <th class="text-center" rowspan="2">관</th>
                                        <th class="text-center" rowspan="2">반</th>
                                        <th class="text-center" rowspan="2">계열</th>
                                        <th class="text-center" rowspan="2">좌석</th>
                                        <th class="text-center" rowspan="2">카드번호</th>
                                        <th class="text-center" rowspan="2">재원</th>
                                        <th class="text-center" rowspan="2">입학구분</th>
                                        <th class="text-center" rowspan="2">최초등원일</th>
                                        <th class="text-center" colspan="7">정보입력</th>
                                        <th class="text-center" rowspan="2">수정</th>
                                    </tr>
                                    <tr>
                                        <th class="text-center">기본</th>
                                        <th class="text-center">카드</th>
                                        <th class="text-center">반배정</th>
                                        <th class="text-center">수강</th>
                                        <th class="text-center">급식</th>
                                        <th class="text-center">자습실</th>
                                        <th class="text-center">입결</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @@for (var i = 10; i > 0; i--) {
                                    <tr>
                                        <td class="text-center">`+ i +`</td>
                                        <td class="text-center">
                                            <a href="#modal-student-add" data-toggle="modal" class="text-underline">IDIDID</a>
                                        </td>
                                        <td class="text-center">신관</td>
                                        <td class="text-center">S</td>
                                        <td class="text-center"></td>
                                        <td class="text-center">123</td>
                                        <td class="text-center">00000000</td>
                                        <td class="text-center">Y</td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center">N</td>
                                        <td class="text-center">N</td>
                                        <td class="text-center">N</td>
                                        <td class="text-center">N</td>
                                        <td class="text-center">N</td>
                                        <td class="text-center">N</td>
                                        <td class="text-center">N</td>
                                        <td class="text-center"></td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        @@include('@@webRoot/_include/_pagination.html')
                    </div>
                </div>
                <!-- 컨텐츠 끝 -->

            </main>

        </div>

        @@include('@@webRoot/_include/_footer.html')

    </div>

    <!-- modal : 수강생 정보등록 -->
    <div class="modal" tabindex="-1" id="modal-student-add" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">수강생 정보등록</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-fixed">
                        <colgroup>
                            <col style="width: 100px;">
                            <col>
                            <col style="width: 100px;">
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>학생명</th>
                                <td>
                                    <input type="text" class="form-control required">
                                </td>
                                <th>학생ID</th>
                                <td>

                                </td>
                            </tr>
                            <tr>
                                <th>소속 관/반</th>
                                <td>
                                    <div class="row row-5">
                                        <div class="col">
                                            <select name="" id="" class="custom-select">
                                                <option value="">관</option>
                                            </select>
                                        </div>
                                        <div class="col">
                                            <select name="" id="" class="custom-select">
                                                <option value="">반</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                                <th>라이브러리(교실명)</th>
                                <td>
                                    <select name="" id="" class="custom-select">
                                        <option value=""></option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>좌석번호</th>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                                <th>출결카드</th>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <th>학생연락처</th>
                                <td>
                                    <div class="row row-5">
                                        <div class="col-auto">
                                            <select name="" id="" class="custom-select required">
                                                <option value="">Y</option>
                                            </select>
                                        </div>
                                        <div class="col">
                                            <input type="text" class="form-control required">
                                        </div>
                                    </div>
                                </td>
                                <th>재원여부</th>
                                <td>
                                    <select name="" id="" class="custom-select required">
                                        <option value="">재원</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>학부모연락처</th>
                                <td>
                                    <div class="row row-5">
                                        <div class="col-auto">
                                            <select name="" id="" class="custom-select required">
                                                <option value="">부</option>
                                                <option value="">모</option>
                                            </select>
                                        </div>
                                        <div class="col">
                                            <input type="text" class="form-control required">
                                        </div>
                                    </div>
                                </td>
                                <th>입학구분</th>
                                <td>
                                    <select name="" id="" class="custom-select">
                                        <option value="">정규</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>담임(오전)</th>
                                <td>

                                </td>
                                <th>장학</th>
                                <td>
                                    <select name="" id="" class="custom-select required">
                                        <option value="">무시험</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>담임(오후)</th>
                                <td>

                                </td>
                                <th>입학일</th>
                                <td>
                                    <input type="text" class="form-control form-datepicker required">
                                </td>
                            </tr>
                            <tr>
                                <th>학습담임</th>
                                <td>

                                </td>
                                <th>퇴원일</th>
                                <td>
                                    <input type="text" class="form-control form-datepicker required" readonly>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered table-fixed mt-2">
                        <colgroup>
                            <col style="width: 100px;">
                            <col>
                            <col style="width: 100px;">
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>성별</th>
                                <td>
                                    <select name="" id="" class="custom-select required">
                                        <option value="">남</option>
                                    </select>
                                </td>
                                <th>계열구분</th>
                                <td>
                                    <select name="" id="" class="custom-select required">
                                        <option value=""></option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>생년월일</th>
                                <td>
                                    <input type="text" class="form-control form-datepicker required">
                                </td>
                                <th>1차 등원일</th>
                                <td>
                                    <input type="text" class="form-control form-datepicker">
                                </td>
                            </tr>
                            <tr>
                                <th>거주지</th>
                                <td>
                                    <div class="row row-5">
                                        <div class="col-auto">
                                            <select name="" id="" class="custom-select">
                                                <option value="">부</option>
                                            </select>
                                        </div>
                                        <div class="col">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </td>
                                <th>1차 퇴원일</th>
                                <td>
                                    <input type="text" class="form-control form-datepicker">
                                </td>
                            </tr>
                            <tr>
                                <th>출신고교</th>
                                <td>
                                    <div class="row row-5">
                                        <div class="col">
                                            <input type="text" class="form-control required">
                                        </div>
                                        <div class="col-auto">
                                            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modal-highschool">수정</button>
                                        </div>
                                    </div>
                                </td>
                                <th>졸업년도</th>
                                <td>
                                    <select name="" id="" class="custom-select required">
                                        <option value="">2021</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>메모 1</th>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                                <th>메모 2</th>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <th>메모 3</th>
                                <td colspan="3">
                                    <input type="text" class="form-control">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row justify-content-between align-items-end mb-2 mt-3">
                        <div class="col-auto">
                            <div class="table-title mb-0">수강과목</div>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-dark btn-sm mr-1" data-toggle="modal" data-target="#modal-class-admin">수정</button>
                            <button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#modal-exams-result-add">입시결과등록</button>
                        </div>
                    </div>
                    <table class="table table-bordered table-fixed mt-2">
                        <colgroup>
                            <col style="width: 100px;">
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>공통과목</th>
                                <td>국어(종합), 수학(종합), 영어</td>
                            </tr>
                            <tr>
                                <th>선택과목</th>
                                <td>국어(언어와 매체), 수학(확률과 통계)</td>
                            </tr>
                            <tr>
                                <th>탐구과목</th>
                                <td>사탐(세계지리), 과탐(지구과학)</td>
                            </tr>
                            <tr>
                                <th>기타</th>
                                <td>한국사, 인문논술</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="table-title mt-3">특이사항</div>
                    <textarea name="" id="" rows="3" class="form-control"></textarea>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-dark">저장</button>
                    <button type="button" class="btn btn-lightgray" data-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>

     <!-- modal : 고등학교 검색 -->
     <div class="modal" tabindex="-1" id="modal-highschool" data-backdrop="static" data-overlap="true"> <!-- 중첩모달일 경우 data-overlap="true" 추가 -->
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">고등학교 검색</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text-center mb-3">
                        <input type="text" class="form-control d-inline-block w-auto align-middle">
                        <button type="button" class="btn btn-dark ml-1">검색</button>
                    </div>
                    <table class="table table-bordered table-center">
                        <thead>
                            <tr>
                                <th></th>
                                <th>학교명</th>
                                <th>지역</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="radio" id="rdo1">
                                </td>
                                <td>
                                    <label for="rdo1">합포고</label>
                                </td>
                                <td>경상남도 창원</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="radio" id="rdo2">
                                </td>
                                <td>
                                    <label for="rdo2">마포고</label>
                                </td>
                                <td>서울시 마포구</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-dark">저장</button>
                    <button type="button" class="btn btn-lightgray" data-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>

    <!-- modal : 수강과목등록/수정 -->
    <div class="modal" tabindex="-1" id="modal-class-admin" data-backdrop="static" data-overlap="true"> <!-- 중첩모달일 경우 data-overlap="true" 추가 -->
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">수강과목등록/수정</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-title">수강과목</div>
                    <table class="table table-bordered table-fixed mt-2">
                        <colgroup>
                            <col style="width: 100px;">
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>공통과목</th>
                                <td>국어(종합), 수학(종합), 영어 <button type="button" class="btn btn-secondary btn-sm ml-2">수정</button></td>
                            </tr>
                            <tr>
                                <th>선택과목</th>
                                <td>국어(언어와 매체), 수학(확률과 통계) <button type="button" class="btn btn-secondary btn-sm ml-2">수정</button></td>
                            </tr>
                            <tr>
                                <th>탐구과목</th>
                                <td><button type="button" class="btn btn-secondary btn-sm">선택</button></td>
                            </tr>
                            <tr>
                                <th>기타</th>
                                <td>한국사, 인문논술 <button type="button" class="btn btn-secondary btn-sm ml-2">수정</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="table-title mt-3">과목선택</div>
                    <table class="table table-fixed">
                        <colgroup>
                            <col style="width: 45px;">
                            <col>
                            <col>
                            <col>
                            <col>
                        </colgroup>
                        <thead>
                            <tr>
                                <th class="text-center"></th>
                                <th class="text-center">영역</th>
                                <th class="text-center">과목명</th>
                                <th class="text-center">구분</th>
                                <th class="text-center">선택여부</th>
                            </tr>
                        </thead>
                        <tbody>
                            @@for (var i = 5; i > 0; i--) {
                            <tr>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"><button type="button" class="btn btn-secondary btn-sm">선택</button></td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-dark">저장</button>
                    <button type="button" class="btn btn-lightgray" data-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>

    <!-- modal : 입시결과등록 -->
    <div class="modal" tabindex="-1" id="modal-exams-result-add" data-backdrop="static" data-overlap="true"> <!-- 중첩모달일 경우 data-overlap="true" 추가 -->
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">입시결과등록</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-center">학년도</th>
                                <th class="text-center">선택 계열</th>
                                <th class="text-center">응시 과목</th>
                                <th class="text-center">획득 점수</th>
                                <th class="text-center">수능 획득 등급</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                            </tr>
                            <tr>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-dark">저장</button>
                    <button type="button" class="btn btn-lightgray" data-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>

    <script>

    </script>

</body>

</html>