<!DOCTYPE html>
<html lang="ko">

<head>
    @@include('@@webRoot/_include/_head.html')
</head>

<body>

    <div id="wrap">

        @@include('@@webRoot/_include/_header.html')

        <div id="container-block">

            @@include('@@webRoot/_include/_aside.html')

            <main id="content" role="main">

                <!-- 컨텐츠 시작 -->
                <h2 class="title">운영계획</h2>
                <div class="p-3 border-bottom">
                    <div class="row justify-content-between">
                        <div class="col-auto">
                            <div class="d-flex align-items-center">
                                <select name="" id="" class="custom-select w-auto mr-2">
                                    <option value="">연도</option>
                                </select>
                                <select name="" id="" class="custom-select w-auto mr-2">
                                    <option value="">관</option>
                                </select>
                                <select name="" id="" class="custom-select w-auto">
                                    <option value="">반</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-dark">파일 다운로드</button>
                            <button type="button" class="btn btn-dark ml-1" data-toggle="modal" data-target="#modal-plan-add">등록</button>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <div class="p-3">
                        <div class="row align-items-center mb-2">
                            <div class="col-auto">
                                <strong class="mr-2">운영계획</strong>총 ###건
                            </div>
                            <div class="col-auto">
                                <input type="checkbox" id="usableOnly">
                                <label for="usableOnly" class="mb-0">운영 항목만 보기</label>
                            </div>
                        </div>
                        <div class="main_search_result_list">
                            <!-- softpuzzle에서 쓰는 datatable 고정 클래스명 -->
                            <table class="table" id="datatable1">
                                <thead>
                                    <tr>
                                        <th class="text-center">ID</th>
                                        <th class="text-center">연도</th>
                                        <th class="text-center">지역</th>
                                        <th class="text-center">운영계획명</th>
                                        <th class="text-center">운영 상태</th>
                                        <th class="text-center">과목 등록</th>
                                        <th class="text-center">교시 설정</th>
                                        <th class="text-center">운영관(반)</th>
                                        <th class="text-center">등록인원</th>
                                        <th class="text-center">사용</th>
                                        <th class="text-center">등록/수정</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @@for (var i = 10; i > 0; i--) {
                                    <tr>
                                        <td class="text-center">`+ i +`</td>
                                        <td class="text-center">2022</td>
                                        <td class="text-center">대치</td>
                                        <td class="text-center">2학기</td>
                                        <td class="text-center">모집중</td>
                                        <td class="text-center">완료</td>
                                        <td class="text-center">
                                            <a href="#modal-period-set" data-toggle="modal" class="text-underline">완료</a>
                                        </td>
                                        <td class="text-center">
                                            <a href="#modal-plan-add" data-toggle="modal" class="text-underline">본관(미등록)</a>
                                            <a href="#modal-plan-add" data-toggle="modal" class="text-underline">브릿지(4)</a>
                                            <a href="#modal-plan-add" data-toggle="modal" class="text-underline">M3(2)</a>
                                            <a href="#modal-plan-add" data-toggle="modal" class="text-underline">N(미등록)</a>
                                        </td>
                                        <td class="text-center">
                                            <a href="#modal-personnel" data-toggle="modal" class="text-underline">304</a>
                                        </td>
                                        <td class="text-center">Y</td>
                                        <td class="text-center">
                                            <div class="text-nowrap">Yy/mm/dd(김시대)</div>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        @@include('@@webRoot/_include/_pagination.html')
                    </div>
                </div>
                <!-- 컨텐츠 끝 -->

            </main>

        </div>

        @@include('@@webRoot/_include/_footer.html')

    </div>

    <!-- modal : 관 운영계획 등록/수정 -->
    <div class="modal" tabindex="-1" id="modal-plan-add" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">관 운영계획 등록/수정</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-title">관 운영 계획</div>
                    <table class="table table-bordered table-fixed">
                        <colgroup>
                            <col style="width: 80px;">
                            <col>
                            <col style="width: 80px;">
                            <col style="width: 180px">
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>지역</th>
                                <td>
                                    <select name="" id="" class="custom-select">
                                        <option value="">입력</option>
                                    </select>
                                </td>
                                <th>사용 여부</th>
                                <td>
                                    <input type="radio" name="planUse" id="planUseY">
                                    <label for="planUseY">사용</label>
                                    <input type="radio" name="planUse" id="planUseN">
                                    <label for="planUseN">미사용</label>
                                </td>
                            </tr>
                            <tr>
                                <th>운영기간</th>
                                <td>
                                    <div class="row row-5 align-items-center">
                                        <div class="col">
                                            <input type="text" class="form-control form-datepicker">
                                        </div>
                                        <div class="col-auto">~</div>
                                        <div class="col">
                                            <input type="text" class="form-control form-datepicker" readonly>
                                        </div>
                                    </div>
                                </td>
                                <th>운영계획명</th>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <th>관</th>
                                <td>
                                    <select name="" id="" class="custom-select">
                                        <option value="">입력</option>
                                    </select>
                                </td>
                                <th>운영상태</th>
                                <td>
                                    <select name="" id="" class="custom-select">
                                        <option value="">운영 예정</option>
                                        <option value="">모집중</option>
                                        <option value="">운영중</option>
                                        <option value="">운영 종료</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>운영 과목</th>
                                <td colspan="3">
                                    <span class="align-middle">국어(종합), 화법과 작문, 언어와 매체, 수학(종합), 확률과 통계</span>
                                    <button type="button" class="btn btn-secondary btn-sm ml-2" data-toggle="modal" data-target="#modal-subject-select">수정</button>
                                    <!-- <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#modal-subject-select">선택</button> -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row justify-content-between align-items-end mb-2">
                        <div class="col-auto">
                            <div class="table-title mt-3 mb-0">운영 반</div>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-sm btn-dark">추가</button>
                            <!-- <button type="button" class="btn btn-sm btn-dark ml-1" data-toggle="modal" data-target="#modal-class-add">수정</button> -->
                            <button type="button" class="btn btn-sm btn-dark ml-1" onclick="alert('선택한 항목이 없습니다.')">삭제</button>
                        </div>
                    </div>
                    <table class="table table-bordered table-fixed">
                        <colgroup>
                            <col style="width: 50px">
                            <col style="width: 60px">
                            <col>
                            <col>
                            <col>
                        </colgroup>
                        <thead>
                            <tr>
                                <th class="text-center"><input type="checkbox" data-event="checkAll" data-target="planClassroom"></th>
                                <th class="text-center">순서</th>
                                <th class="text-center">반 명</th>
                                <th class="text-center">계열</th>
                                <th class="text-center">사용여부</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center"><input type="checkbox" name="planClassroom"></td>
                                <td class="text-center">
                                    <input type="text" class="form-control" value="1">
                                </td>
                                <td class="text-center">
                                    <input type="text" class="form-control" value="S">
                                </td>
                                <td class="text-center">
                                    <input type="text" class="form-control" value="문과">
                                </td>
                                <td class="text-center">
                                    <input type="radio" name="planClassUse1" id="planClassUse1-Y" checked>
                                    <label for="planClassUse1-Y">사용</label>
                                    <input type="radio" name="planClassUse1" id="planClassUse1-N">
                                    <label for="planClassUse1-N">미사용</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center"><input type="checkbox" name="planClassroom"></td>
                                <td class="text-center">
                                    <input type="text" class="form-control">
                                </td>
                                <td class="text-center">
                                    <input type="text" class="form-control">
                                </td>
                                <td class="text-center">
                                    <input type="text" class="form-control">
                                </td>
                                <td class="text-center">
                                    <input type="radio" name="planClassUs2e" id="planClassUse2-Y">
                                    <label for="planClassUse2-Y">사용</label>
                                    <input type="radio" name="planClassUs2e" id="planClassUse2-N">
                                    <label for="planClassUse2-N">미사용</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-dark">저장</button>
                    <button type="button" class="btn btn-lightgray" data-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>

    <!-- modal : 반 등록/수정 -->
    <div class="modal" tabindex="-1" id="modal-class-add" data-backdrop="static" data-overlap="true"> <!-- 중첩모달일 경우 data-overlap="true" 추가 -->
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">반 등록/수정</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-title">브릿지 관 반 등록</div>
                    <table class="table table-bordered table-fixed">
                        <colgroup>
                            <col style="width: 80px">
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>반 이름</th>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <th>계열</th>
                                <td>
                                    <select name="" id="" class="custom-select">
                                        <option value="">문과</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>순서</th>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <th>사용여부</th>
                                <td>
                                    <input type="radio" name="planClassUse" id="planClassUseY">
                                    <label for="planClassUseY">사용</label>
                                    <input type="radio" name="planClassUse" id="planClassUseN">
                                    <label for="planClassUseN">미사용</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-dark">저장</button>
                    <button type="button" class="btn btn-lightgray" data-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>

    <!-- modal : 과목 선택 -->
    <div class="modal" tabindex="-1" id="modal-subject-select" data-backdrop="static" data-overlap="true"> <!-- 중첩모달일 경우 data-overlap="true" 추가 -->
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">과목 선택</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-fixed">
                        <colgroup>
                            <col style="width: 50px">
                            <col>
                            <col>
                            <col>
                            <col>
                        </colgroup>
                        <thead>
                            <tr>
                                <th class="text-center">
                                    <input type="checkbox" data-event="checkAll" data-target="planSubject">
                                </th>
                                <th class="text-center">학년</th>
                                <th class="text-center">영역</th>
                                <th class="text-center">과목</th>
                                <th class="text-center">선택</th>
                            </tr>
                        </thead>
                        <tbody>
                            @@for (var i = 1; i < 15; i++) {
                            <tr>
                                <td class="text-center"><input type="checkbox" name="planSubject"></td>
                                <td class="text-center">고3,N</td>
                                <td class="text-center">국어</td>
                                <td class="text-center">국어(종합)</td>
                                <td class="text-center">공통</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-dark">저장</button>
                    <button type="button" class="btn btn-lightgray" data-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>

    <!-- modal : 등록인원 -->
    <div class="modal" tabindex="-1" id="modal-personnel" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">등록 인원</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-fixed">
                        <colgroup>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                        </colgroup>
                        <thead>
                            <tr>
                                <th class="text-center">지역</th>
                                <th class="text-center">관 명</th>
                                <th class="text-center">반 명</th>
                                <th class="text-center">등록인원</th>
                                <th class="text-center">관 계</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">대치</td>
                                <td class="text-center">브릿지</td>
                                <td class="text-center">S</td>
                                <td class="text-center">100</td>
                                <td class="text-center" rowspan="3">268</td>
                            </tr>
                            <tr>
                                <td class="text-center">대치</td>
                                <td class="text-center">브릿지</td>
                                <td class="text-center">D</td>
                                <td class="text-center">64</td>
                            </tr>
                            <tr>
                                <td class="text-center">대치</td>
                                <td class="text-center">브릿지</td>
                                <td class="text-center">A</td>
                                <td class="text-center">64</td>
                            </tr>
                            <tr>
                                <td class="text-center">대치</td>
                                <td class="text-center">M3</td>
                                <td class="text-center">A</td>
                                <td class="text-center">200</td>
                                <td class="text-center">200</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-dark" data-dismiss="modal">확인</button>
                </div>
            </div>
        </div>
    </div>

    <!-- modal : 교시 설정 -->
    <div class="modal" tabindex="-1" id="modal-period-set" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">교시 설정</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-title">기본 설정</div>
                    <table class="table table-bordered table-fixed">
                        <colgroup>
                            <col style="width: 100px">
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>운영 시간</th>
                                <td>08:30 ~ 22:30</td>
                            </tr>
                            <tr>
                                <th>점심 시간</th>
                                <td>12:30 ~ 13:30</td>
                            </tr>
                            <tr>
                                <th>저녁 시간</th>
                                <td>19:00 ~ 20:00</td>
                            </tr>
                            <tr>
                                <th>적용 일시</th>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row justify-content-between align-items-end mb-2 mt-3">
                        <div class="col-auto">
                            <div class="table-title mb-0">교시별 설정</div>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-sm btn-dark">추가</button>
                            <button type="button" class="btn btn-sm btn-dark ml-1">삭제</button>
                        </div>
                    </div>
                    <table class="table table-bordered table-fixed">
                        <colgroup>
                            <col style="width: 40px">
                            <col style="width: 60px">
                            <col>
                            <col>
                            <col style="width: 60px">
                        </colgroup>
                        <thead>
                            <tr>
                                <th class="text-center"><input type="checkbox"></th>
                                <th class="text-center">교시명</th>
                                <th class="text-center">시작</th>
                                <th class="text-center">종료</th>
                                <th class="text-center">순서</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center"><input type="checkbox"></td>
                                <td>
                                    <input type="text" class="form-control text-center" value="1">
                                </td>
                                <td>
                                    <input type="text" class="form-control form-timepicker" value="09:00">
                                </td>
                                <td>
                                    <input type="text" class="form-control form-timepicker" value="10:00">
                                </td>
                                <td>
                                    <input type="text" class="form-control text-center" value="1">
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center"><input type="checkbox"></td>
                                <td>
                                    <input type="text" class="form-control text-center">
                                </td>
                                <td>
                                    <input type="text" class="form-control form-timepicker">
                                </td>
                                <td>
                                    <input type="text" class="form-control form-timepicker">
                                <td>
                                    <input type="text" class="form-control text-center">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-dark" data-dismiss="modal">확인</button>
                </div>
            </div>
        </div>
    </div>

    <script>

    </script>

</body>

</html>