<!DOCTYPE html>
<html lang="ko">

<head>
    @@include('@@webRoot/_include/_head.html')
</head>

<body>

    <div id="wrap">

        @@include('@@webRoot/_include/_header.html')

        <div id="container-block">

            @@include('@@webRoot/_include/_aside.html')

            <main id="content" role="main">

                <!-- 컨텐츠 시작 -->
                <h2 class="title">학원정보등록</h2>
                <div class="p-3 border-bottom">
                    <div class="row justify-content-between">
                        <div class="col-auto">
                            <div class="d-flex align-items-center">
                                <select name="" id="" class="custom-select w-auto mr-2">
                                    <option value="">관</option>
                                </select>
                                <select name="" id="" class="custom-select w-auto">
                                    <option value="">교실</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modal-institute-info-add">등록</button>
                        </div>
                    </div>
                </div>
                <div class="p-3">
                    <div class="row align-items-center mb-2">
                        <div class="col-auto">
                            <strong class="mr-2">관</strong>총 ###건
                        </div>
                        <div class="col-auto">
                            <input type="checkbox" id="usableOnly2">
                            <label for="usableOnly2" class="mb-0">사용 항목만 보기</label>
                        </div>
                    </div>
                    <div class="main_search_result_list">
                        <!-- softpuzzle에서 쓰는 datatable 고정 클래스명 -->
                        <table class="table table-center" id="datatable1">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>지역</th>
                                    <th>관 명</th>
                                    <th>관 담당자</th>
                                    <th>보유 교실</th>
                                    <th>사용</th>
                                    <th>등록/수정</th>
                                </tr>
                            </thead>
                            <tbody>
                                @@for (var i = 5; i > 0; i--) {
                                <tr>
                                    <td>`+ i +`</td>
                                    <td>대치</td>
                                    <td>
                                        <a href="#modal-institute-info-add" data-toggle="modal" class="text-underline">브릿지관</a>
                                    </td>
                                    <td>김시대</td>
                                    <td><a href="javascript:;" class="text-underline">101호, 201호</a></td>
                                    <td>Y</td>
                                    <td>
                                        <div class="text-nowrap">Yy/mm/dd(김시대)</div>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    @@include('@@webRoot/_include/_pagination.html')
                </div>
                <div class="hr"></div>
                <div class="p-3">
                    <div class="row align-items-center mb-2">
                        <div class="col-auto">
                            <strong class="mr-2">교실</strong>총 ###건
                        </div>
                        <div class="col-auto">
                            <input type="checkbox" id="usableOnly">
                            <label for="usableOnly" class="mb-0">사용 항목만 보기</label>
                        </div>
                    </div>
                    <div class="main_search_result_list">
                        <!-- softpuzzle에서 쓰는 datatable 고정 클래스명 -->
                        <table class="table table-center" id="datatable1">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>관 명</th>
                                    <th>교실명</th>
                                    <th>교실 구분</th>
                                    <th>총 좌석</th>
                                    <th>사용좌석</th>
                                    <th>카드체킹기기</th>
                                    <th>좌석배치표</th>
                                    <th>사용</th>
                                    <th>등록/수정</th>
                                </tr>
                            </thead>
                            <tbody>
                                @@for (var i = 10; i > 0; i--) {
                                <tr>
                                    <td>`+ i +`</td>
                                    <td>브릿지관</td>
                                    <td>101호</td>
                                    <td>강의실</td>
                                    <td>100</td>
                                    <td>60</td>
                                    <td>ASND2f</td>
                                    <td>
                                        <a href="#modal-seat" data-toggle="modal" class="text-underline">등록</a>
                                    </td>
                                    <td>Y</td>
                                    <td>
                                        <div class="text-nowrap">Yy/mm/dd(김시대)</div>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    @@include('@@webRoot/_include/_pagination.html')
                </div>
                <!-- 컨텐츠 끝 -->

            </main>

        </div>

        @@include('@@webRoot/_include/_footer.html')

    </div>

    @@include('@@webRoot/_include/_modal.html')

    <!-- modal : 학원 정보 등록/수정 -->
    <div class="modal" tabindex="-1" id="modal-institute-info-add" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">학원 정보 등록/수정</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-title">관 정보</div>
                    <table class="table table-bordered table-fixed">
                        <colgroup>
                            <col style="width: 100px;">
                            <col>
                            <col style="width: 100px;">
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>지역</th>
                                <td>
                                    <div class="row row-5 align-items-center">
                                        <div class="col-auto">
                                            <select name="" id="area" class="custom-select">
                                                <option value="">대치</option>
                                                <option value="입력">입력</option>
                                            </select>
                                        </div>
                                        <div class="col">
                                            <input type="text" class="form-control" id="areaEtcInput">
                                        </div>
                                    </div>
                                    <script>
                                        $('#area').on('change', function(){
                                            if($(this).val() == '입력'){
                                                $('#areaEtcInput').attr('disabled', false).focus();
                                            }else{
                                                $('#areaEtcInput').val('').attr('disabled', true);
                                            }
                                        })
                                    </script>
                                </td>
                                <th>사용 여부</th>
                                <td>
                                    <input type="radio" name="blockUse" id="blockUseY">
                                    <label for="blockUseY">사용</label>
                                    <input type="radio" name="blockUse" id="blockUseN">
                                    <label for="blockUseN">미사용</label>
                                </td>
                            </tr>
                            <tr>
                                <th>관 명</th>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                                <th>관 연락처</th>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <th>관 주소</th>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                                <th>관 담당자</th>
                                <td>
                                    <div class="row row-5">
                                        <div class="col">
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col-auto">
                                            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modal-staff-search">검색</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>오시는 길</th>
                                <td>
                                    <textarea name="" id="" class="form-control" rows="3"></textarea>
                                </td>
                                <th>지도정보</th>
                                <td>
                                    <div class="row row-5 mb-2">
                                        <div class="col">
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col-auto">
                                            <button type="button" class="btn btn-secondary">확인</button>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row justify-content-between align-items-end mb-2">
                        <div class="col-auto">
                            <div class="table-title mt-3 mb-0">보유 교실</div>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-sm btn-dark">추가</button>
                            <button type="button" class="btn btn-sm btn-dark ml-1">삭제</button>
                        </div>
                    </div>
                    <table class="table table-bordered table-center table-fixed">
                        <colgroup>
                            <col style="width: 40px;">
                            <col style="width: 45px">
                            <col style="width: 130px;">
                            <col style="width: 115px">
                            <col>
                            <col>
                            <col>
                            <col style="width: 110px">
                            <col style="width: 80px">
                            <col style="width: 70px;">
                            <col style="width: 50px">
                        </colgroup>
                        <thead>
                            <tr>
                                <th><input type="checkbox" data-event="checkAll" data-target="classroom"></th>
                                <th>No</th>
                                <th>교실구분</th>
                                <th>교실명</th>
                                <th>정원</th>
                                <th>1단계</th>
                                <th>2단계</th>
                                <th>체킹기기</th>
                                <th>중계</th>
                                <th>사용</th>
                                <th>좌석</th>
                            </tr>
                        </thead>
                        <tbody>
                            @@for (var i = 4; i > 0; i--) {
                            <tr>
                                <td><input type="checkbox" name="classroom"></td>
                                <td>`+ i +`</td>
                                <td>
                                    <select name="" id="" class="custom-select">
                                        <option value="">라이브러리</option>
                                        <option value="">강의실</option>
                                        <option value="">급식실</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                                <td>
                                    <select name="" id="" class="custom-select">
                                        <option value="">불가</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="" id="" class="custom-select">
                                        <option value="">Y</option>
                                    </select>
                                </td>
                                <td>
                                    <a href="#modal-seat" class="text-underline" data-toggle="modal">등록</a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-dark" onclick="confirm('미입력 항목이 있습니다. \n무시하고 등록할까요?')">저장</button>
                    <button type="button" class="btn btn-lightgray" data-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>

    <!-- modal : 직원 검색 -->
    <div class="modal" tabindex="-1" id="modal-staff-search" data-backdrop="static" data-overlap="true"> <!-- 중첩모달일 경우 data-overlap="true" 추가 -->
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">직원 검색</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-center table-fixed">
                        <colgroup>
                            <col style="width: 45px;">
                            <col>
                            <col>
                            <col>
                        </colgroup>
                        <thead>
                            <tr>
                                <th></th>
                                <th>직원명</th>
                                <th>ID</th>
                                <th>부서/직무</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="radio" id="staff1" name="staff"></td>
                                <td><label for="staff1">김시대</label></td>
                                <td>asdf1234</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><input type="radio" id="staff2" name="staff"></td>
                                <td><label for="staff2">이시대</label></td>
                                <td>asdf1234</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><input type="radio" id="staff3" name="staff"></td>
                                <td><label for="staff3">박시대</label></td>
                                <td>asdf1234</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-dark">저장</button>
                    <button type="button" class="btn btn-lightgray" data-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>

    <!-- modal : 좌석표 등록 -->
    <div class="modal" tabindex="-1" id="modal-seat" data-backdrop="static" data-overlap="true"> <!-- 중첩모달일 경우 data-overlap="true" 추가 -->
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">좌석표 등록</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row justify-content-between align-items-end mb-2">
                        <div class="col-auto">
                            <div class="table-title mb-0">활성 좌석 선택</div>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-danger btn-sm" id="btn-seat-reset">Reset</button>
                        </div>
                    </div>
                    <div class="seat">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    @@for (var i = 0; i < 20; i++) {
                                    <th data-selectable="column"></th>
                                    }
                                </tr>
                              </thead>
                            <tbody>
                                @@for (var i = 0; i < 20; i++) {
                                <tr>
                                    @@for (var j = 0; j < 20; j++) {
                                    <td class="selectable"></td>
                                    }
                                </tr>
                                }
                            </tbody>
                        </table>
                        <script src="https://unpkg.com/selectable.js@latest/selectable.min.js"></script>
                        <!-- https://github.com/Mobius1/Selectable -->
                        <script src="https://unpkg.com/selectable-table-plugin@latest/selectable.table.min.js"></script>
                        <script>
                            //좌석선택 selectable
                            const selectable = new Selectable({
                                filter: ".selectable",
                                toggle: true
                            });
                            // enable table plugin
                            selectable.table();
                            $('#btn-seat-reset').on('click',function(){
                                selectable.clear()
                            })
                        </script>
                    </div>
                    <div class="table-title mt-3">좌석 번호 입력</div>
                    <table class="table table-bordered table-fixed">
                        <colgroup>
                            <col style="width: 100px;">
                            <col>
                            <col style="width: 100px;">
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>시작 좌석</th>
                                <td>
                                    <select name="" id="" class="custom-select">
                                        <option value="">좌 상단</option>
                                    </select>
                                </td>
                                <th>행/렬 끝</th>
                                <td>
                                    <select name="" id="" class="custom-select">
                                        <option value="">처음부터</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>번호 좌석</th>
                                <td>
                                    <select name="" id="" class="custom-select">
                                        <option value="">아래로</option>
                                    </select>
                                </td>
                                <th>총 좌석수</th>
                                <td>50</td>
                            </tr>
                            <tr>
                                <th>시작 번호</th>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                                <th></th>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-dark">저장</button>
                    <button type="button" class="btn btn-lightgray" data-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>

    <script>

    </script>

</body>

</html>