<!DOCTYPE html>
<html lang="ko">

<head>
    @@include('@@webRoot/_include/_head.html')
</head>

<body>

    <div id="wrap">

        @@include('@@webRoot/_include/_header.html')

        <div id="container-block">

            @@include('@@webRoot/_include/_aside.html')

            <main id="content" role="main">

                <!-- 컨텐츠 시작 -->
                <h2 class="title">선택교재관리</h2>
                <div class="p-3 border-bottom">
                    <div class="row justify-content-between">
                        <div class="col-auto">
                            <div class="d-flex align-items-center">
                                <select name="" id="" class="custom-select w-auto mr-2">
                                    <option value="">영역</option>
                                </select>
                                <select name="" id="" class="custom-select w-auto mr-2">
                                    <option value="">과목</option>
                                </select>
                                <select name="" id="" class="custom-select w-auto mr-2">
                                    <option value="">학생명</option>
                                </select>
                                <input type="text" class="form-control w-auto mr-2">
                                <button type="button" class="btn btn-dark mr-3">검색</button>
                            </div>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-dark">파일업로드</button>
                            <button type="button" class="btn btn-dark ml-1">파일다운로드</button>
                            <button type="button" class="btn btn-dark ml-1" data-toggle="modal" data-target="#modal-enroll-materials-add">등록</button>
                        </div>
                    </div>
                </div>
                <div class="p-3">
                    <div class="row align-items-center mb-2">
                        <div class="col-auto">
                            <strong class="mr-2">컨텐츠 목록</strong>총 ###건
                        </div>
                    </div>
                    <div class="main_search_result_list">
                        <!-- softpuzzle에서 쓰는 datatable 고정 클래스명 -->
                        <table class="table" id="datatable1">
                            <thead>
                                <tr>
                                    <th class="text-center">ID</th>
                                    <th class="text-center">영역(과목)</th>
                                    <th class="text-center">컨텐츠명</th>
                                    <th class="text-center">세트</th>
                                    <th class="text-center">회차</th>
                                    <th class="text-center">신청수</th>
                                    <th class="text-center">신청상태</th>
                                    <th class="text-center">등록/수정</th>
                                </tr>
                            </thead>
                            <tbody>
                                @@for (var i = 3; i > 0; i--) {
                                <tr>
                                    <td class="text-center">`+ i +`</td>
                                    <td class="text-center">국어(종합)</td>
                                    <td class="text-center">이감 모의고사</td>
                                    <td class="text-center">2세트(문제,해설)</td>
                                    <td class="text-center">2</td>
                                    <td class="text-center">
                                        <a href="javascript:;" class="text-underline">###</a>
                                    </td>
                                    <td class="text-center">가능</td>
                                    <td class="text-center">Yy/mm/dd (username)</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    @@include('@@webRoot/_include/_pagination.html')
                </div>
                <div class="hr"></div>
                <div class="p-3">
                    <div class="row align-items-center mb-2">
                        <div class="col-auto">
                            <strong class="mr-2">컨텐츠 신청</strong>총 ###건
                        </div>
                    </div>
                    <div class="main_search_result_list">
                        <!-- softpuzzle에서 쓰는 datatable 고정 클래스명 -->
                        <table class="table" id="datatable1">
                            <thead>
                                <tr>
                                    <th class="text-center">ID</th>
                                    <th class="text-center">관</th>
                                    <th class="text-center">학생ID</th>
                                    <th class="text-center">영역(과목)</th>
                                    <th class="text-center">컨텐츠명</th>
                                    <th class="text-center">회차</th>
                                    <th class="text-center">기간</th>
                                    <th class="text-center">등록/수정</th>
                                </tr>
                            </thead>
                            <tbody>
                                @@for (var i = 10; i > 0; i--) {
                                <tr>
                                    <td class="text-center">`+ i +`</td>
                                    <td class="text-center">브릿지관</td>
                                    <td class="text-center">김학생1234</td>
                                    <td class="text-center">수학(종합)</td>
                                    <td class="text-center">서바이벌N</td>
                                    <td class="text-center">3</td>
                                    <td class="text-center">3월1주~3월4주</td>
                                    <td class="text-center">
                                        <div class="text-nowrap">Yy/mm/dd(김시대)</div>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    @@include('@@webRoot/_include/_pagination.html')
                </div>
                <!-- 컨텐츠 끝 -->

            </main>

        </div>

        @@include('@@webRoot/_include/_footer.html')

    </div>

    @@include('@@webRoot/_include/_modal.html')

    <script>

    </script>

</body>

</html>