<!DOCTYPE html>
<html lang="ko">

<head>
    @@include('@@webRoot/_include/_head.html')
</head>

<body>

    <div id="wrap">

        @@include('@@webRoot/_include/_header.html')

        <div id="container-block">

            @@include('@@webRoot/_include/_aside.html')

            <main id="content" role="main">

                <!-- 컨텐츠 시작 -->
                <h2 class="title">출결카드관리</h2>
                <div class="p-3 border-bottom">
                    <div class="row justify-content-between">
                        <div class="col-auto">
                            <div class="d-flex align-items-center">
                                <select name="" id="" class="custom-select w-auto mr-2">
                                    <option value="">관</option>
                                </select>
                                <select name="" id="" class="custom-select w-auto mr-2">
                                    <option value="">상태</option>
                                </select>
                                <select name="" id="" class="custom-select w-auto mr-3">
                                    <option value="">구분</option>
                                </select>
                                <select name="" id="" class="custom-select w-auto mr-2">
                                    <option value="">체킹 위치</option>
                                </select>
                                <select name="" id="" class="custom-select w-auto mr-2">
                                    <option value="">체킹 결과</option>
                                </select>
                                <select name="" id="" class="custom-select w-auto mr-2">
                                    <option value="">카드 번호</option>
                                    <option value="">카드 사용자</option>
                                </select>
                                <input type="text" class="form-control w-auto mr-2">
                                <button type="button" class="btn btn-dark mr-3">검색</button>
                            </div>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-dark">파일업로드</button>
                            <button type="button" class="btn btn-dark ml-1">파일다운로드</button>
                            <button type="button" class="btn btn-dark ml-1" data-toggle="modal" data-target="#modal-enroll-card-add">등록</button>
                        </div>
                    </div>
                </div>
                <div class="split-horizontal">
                    <div class="section" id="split-horizontal-1">
                        <div class="p-3">
                            <div class="row align-items-center mb-2">
                                <div class="col-auto">
                                    <strong class="mr-2">출결 카드 목록</strong>총 ###건
                                </div>
                            </div>
                            <div class="main_search_result_list">
                                <!-- softpuzzle에서 쓰는 datatable 고정 클래스명 -->
                                <table class="table" id="datatable1">
                                    <thead>
                                        <tr>
                                            <th class="text-center">No</th>
                                            <th class="text-center">관</th>
                                            <th class="text-center">카드번호</th>
                                            <th class="text-center">상태</th>
                                            <th class="text-center">카드사용자</th>
                                            <th class="text-center">구분</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @@for (var i = 7; i > 0; i--) {
                                        <tr>
                                            <td class="text-center">`+ i +`</td>
                                            <td class="text-center"></td>
                                            <td class="text-center">12345678</td>
                                            <td class="text-center">보유중</td>
                                            <td class="text-center">-</td>
                                            <td class="text-center">-</td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            @@include('@@webRoot/_include/_pagination.html')
                        </div>
                    </div>
                    <div class="section" id="split-horizontal-2">
                        <div class="p-3">
                            <div class="row justify-content-between align-items-end mb-2">
                                <div class="col-auto">
                                    <strong class="mr-2">카드 체킹 목록</strong>총 ###건
                                </div>
                                <div class="col-auto">
                                    <a href="javascript:;" role="button"><i class="material-icons">refresh</i></a>
                                </div>
                            </div>
                            <div class="main_search_result_list">
                                <!-- softpuzzle에서 쓰는 datatable 고정 클래스명 -->
                                <table class="table" id="datatable1">
                                    <thead>
                                        <tr>
                                            <th class="text-center">No</th>
                                            <th class="text-center">체킹일시</th>
                                            <th class="text-center">카드번호</th>
                                            <th class="text-center">체킹기기</th>
                                            <th class="text-center">체킹위치</th>
                                            <th class="text-center">카드사용자</th>
                                            <th class="text-center">체킹구분</th>
                                            <th class="text-center">체킹결과</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @@for (var i = 7; i > 0; i--) {
                                        <tr>
                                            <td class="text-center">`+ i +`</td>
                                            <td class="text-center">mm-dd 00:00</td>
                                            <td class="text-center">12345678</td>
                                            <td class="text-center"></td>
                                            <td class="text-center">S관 201호</td>
                                            <td class="text-center">김시대2013</td>
                                            <td class="text-center">등원</td>
                                            <td class="text-center">외출(in)</td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            @@include('@@webRoot/_include/_pagination.html')
                        </div>
                    </div>
                </div>
                <!-- 컨텐츠 끝 -->

            </main>

        </div>

        @@include('@@webRoot/_include/_footer.html')

    </div>

    @@include('@@webRoot/_include/_modal.html')

    <script>
        setTimeout(function(){
            splitH.setSizes([40, 60])
        },100);
    </script>

</body>

</html>