<!DOCTYPE html>
<html lang="ko">

<head>
    @@include('@@webRoot/_include/_head.html')
</head>

<body>

    <div id="wrap">

        @@include('@@webRoot/_include/_header.html')

        <div id="container-block">

            @@include('@@webRoot/_include/_aside.html')

            <main id="content" role="main">

                <!-- 컨텐츠 시작 -->
                <h2 class="title">과목 관리</h2>
                <div class="p-3 border-bottom">
                    <div class="row justify-content-between">
                        <div class="col-auto">
                            <div class="d-flex align-items-center">
                                <select name="" id="" class="custom-select w-auto mr-2">
                                    <option value="">영역</option>
                                </select>
                                <select name="" id="" class="custom-select w-auto mr-2">
                                    <option value="">과목</option>
                                </select>
                                <select name="" id="" class="custom-select w-auto">
                                    <option value="">선택</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modal-file-upload">파일 업로드</button>
                            <button type="button" class="btn btn-dark ml-1" data-toggle="modal" data-target="#modal-subject-add">등록</button>
                        </div>
                    </div>
                </div>
                <div class="p-3">
                    <div class="row align-items-center mb-2">
                        <div class="col-auto">
                            <strong class="mr-2">과목</strong>총 ###건
                        </div>
                        <div class="col-auto">
                            <input type="checkbox" id="usableOnly">
                            <label for="usableOnly" class="mb-0">사용 항목만 보기</label>
                        </div>
                    </div>
                    <div class="main_search_result_list">
                        <!-- softpuzzle에서 쓰는 datatable 고정 클래스명 -->
                        <table class="table" id="datatable1">
                            <thead>
                                <tr>
                                    <th class="text-center">ID</th>
                                    <th class="text-center">학년구분</th>
                                    <th class="text-center">영역</th>
                                    <th class="text-center">과목</th>
                                    <th class="text-center">대단원</th>
                                    <th class="text-center">별명</th>
                                    <th class="text-center">선택</th>
                                    <th class="text-center">순서</th>
                                    <th class="text-center">사용</th>
                                    <th class="text-center">등록/수정</th>
                                </tr>
                            </thead>
                            <tbody>
                                @@for (var i = 1; i > 0; i--) {
                                <tr>
                                    <td class="text-center"></td>
                                    <td class="text-center">고3, N</td>
                                    <td class="text-center">국어</td>
                                    <td class="text-center">
                                        <a href="#modal-subject-add" data-toggle="modal" class="text-underline">종합</a>
                                    </td>
                                    <td class="text-center">독서,문학</td>
                                    <td class="text-center">국어</td>
                                    <td class="text-center">공통</td>
                                    <td class="text-center"></td>
                                    <td class="text-center">Y</td>
                                    <td class="text-center">
                                        <div class="text-nowrap">Yy/mm/dd(김시대)</div>
                                    </td>
                                </tr>
                                }
                                @@for (var i = 19; i > 0; i--) {
                                <tr class="bg-6"> <!-- 과목이 종합이 아닐때 .bg-6 추가 -->
                                    <td class="text-center"></td>
                                    <td class="text-center">고3, N</td>
                                    <td class="text-center">국어</td>
                                    <td class="text-center">
                                        <a href="#modal-subject-add" data-toggle="modal" class="text-underline">화법과 작문</a>
                                    </td>
                                    <td class="text-center">독서,문학</td>
                                    <td class="text-center">국어</td>
                                    <td class="text-center">공통</td>
                                    <td class="text-center"></td>
                                    <td class="text-center">Y</td>
                                    <td class="text-center">
                                        <div class="text-nowrap">Yy/mm/dd(김시대)</div>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    @@include('@@webRoot/_include/_pagination.html')
                </div>
                <!-- 컨텐츠 끝 -->

            </main>

        </div>

        @@include('@@webRoot/_include/_footer.html')

    </div>

    @@include('@@webRoot/_include/_modal.html')

    <script>

    </script>

</body>

</html>