<!DOCTYPE html>
<html lang="ko">

<head>
    @@include('@@webRoot/_include/_head.html')
</head>

<body>

    <div id="wrap">

        @@include('@@webRoot/_include/_header.html')

        <div id="container-block">

            @@include('@@webRoot/_include/_aside.html')

            <main id="content" role="main">

                <!-- 컨텐츠 시작 -->
                <h2 class="title">컨텐츠 계획</h2>
                <div class="p-3 border-bottom">
                    <div class="row justify-content-between">
                        <div class="col-auto">
                            <div class="d-flex align-items-center">
                                <select name="" id="" class="custom-select w-auto mr-2">
                                    <option value="">영역</option>
                                </select>
                                <select name="" id="" class="custom-select w-auto mr-2">
                                    <option value="">과목</option>
                                </select>
                                <select name="" id="" class="custom-select w-auto mr-2">
                                    <option value="">수업구분</option>
                                </select>
                                <select name="" id="" class="custom-select w-auto mr-2">
                                    <option value="">컨텐츠명</option>
                                    <option value="">수업명</option>
                                </select>
                                <input type="text" class="form-control w-auto mr-2">
                                <button type="button" class="btn btn-dark">검색</button>
                            </div>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-dark">파일업로드</button>
                            <button type="button" class="btn btn-dark ml-1">파일다운로드</button>
                            <button type="button" class="btn btn-dark ml-1" data-toggle="modal" data-target="#modal-new-contents-add">등록</button>
                        </div>
                    </div>
                </div>
                <div class="p-3">
                    <div class="row align-items-center mb-2">
                        <div class="col-auto">
                            <strong class="mr-2">컨텐츠</strong>총 ###건
                        </div>
                        <div class="col-auto">
                            <input type="checkbox" id="usableOnly">
                            <label for="usableOnly" class="mb-0">사용 항목만 보기</label>
                        </div>
                    </div>
                    <div class="main_search_result_list">
                        <!-- softpuzzle에서 쓰는 datatable 고정 클래스명 -->
                        <table class="table table-center" id="datatable1">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>과목</th>
                                    <th>컨텐츠 유형</th>
                                    <th>컨텐츠명</th>
                                    <th>필수여부</th>
                                    <th>수급 구분</th>
                                    <th>사용 수업</th>
                                    <th>세트</th>
                                    <th>회차</th>
                                    <th>수정</th>
                                </tr>
                            </thead>
                            <tbody>
                                @@for (var i = 10; i > 0; i--) {
                                <tr>
                                    <td>`+ i +`</td>
                                    <td>한국지리</td>
                                    <td>일반교재</td>
                                    <td>
                                        <a href="#modal-new-contents-add" class="text-underline" data-toggle="modal">Centium</a>
                                    </td>
                                    <td>선택</td>
                                    <td>제작</td>
                                    <td>총 3건</td>
                                    <td>2세트(문제,해설)</td>
                                    <td><a href="" class="text-underline">10</a></td>
                                    <td></td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    @@include('@@webRoot/_include/_pagination.html')
                </div>
                <div class="hr"></div>
                <div class="p-3">
                    <div class="row align-items-center justify-content-between mb-2">
                        <div class="col-auto">
                            <strong class="mr-2">컨텐츠 회차</strong>총 ###건
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-dark btn-sm ml-1" data-toggle="modal" data-target="#modal-contents-session-add">추가</button>
                        </div>
                    </div>
                    <div class="main_search_result_list">
                        <!-- softpuzzle에서 쓰는 datatable 고정 클래스명 -->
                        <table class="table table-center" id="datatable1">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>과목</th>
                                    <th>컨텐츠명</th>
                                    <th>세트</th>
                                    <th>회차</th>
                                    <th>배부 주차</th>
                                    <th>가격</th>
                                    <th>사용여부</th>
                                    <th>수정</th>
                                </tr>
                            </thead>
                            <tbody>
                                @@for (var i = 5; i > 0; i--) {
                                <tr>
                                    <td>`+ i +`</td>
                                    <td>수학(종합)</td>
                                    <td>Bridge</td>
                                    <td>문제</td>
                                    <td>1</td>
                                    <td>3주차</td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <a href="#modal-contents-session-edit" class="text-underline" data-toggle="modal">수정</a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- 컨텐츠 끝 -->

            </main>

        </div>

        @@include('@@webRoot/_include/_footer.html')

    </div>

    @@include('@@webRoot/_include/_modal.html')

    <script>

    </script>

</body>

</html>