<!DOCTYPE html>
<html lang="ko">

<head>
    @@include('@@webRoot/_include/_head.html')
</head>

<body>

    <div id="wrap">

        @@include('@@webRoot/_include/_header.html')

        <div id="container-block">

            @@include('@@webRoot/_include/_aside.html')

            <main id="content" role="main">

                <!-- 컨텐츠 시작 -->
                <h2 class="title">수업 결산</h2>
                <div class="p-3 border-bottom">
                    <div class="row justify-content-between">
                        <div class="col-auto">
                            <div class="d-flex align-items-center">
                                <select name="" id="" class="custom-select w-auto mr-2">
                                    <option value="">관</option>
                                </select>
                                <select name="" id="" class="custom-select w-auto mr-2">
                                    <option value="">영역</option>
                                </select>
                                <select name="" id="" class="custom-select w-auto mr-2">
                                    <option value="">과목</option>
                                </select>
                                <select name="" id="" class="custom-select w-auto mr-2">
                                    <option value="">강사</option>
                                </select>
                                <input type="text" class="form-control form-datepicker mr-2" style="width:120px">
                            </div>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-dark" data-toggle="modal">파일다운로드</button>
                        </div>
                    </div>
                </div>
                <div class="p-3">
                    <div class="row align-items-center mb-2">
                        <div class="col-auto">
                            <strong class="mr-2">수업 내역</strong>총 ###건
                        </div>
                    </div>
                    <div class="main_search_result_list">
                        <!-- softpuzzle에서 쓰는 datatable 고정 클래스명 -->
                        <table class="table table-center" id="datatable1">
                            <thead>
                                <tr>
                                    <th>월</th>
                                    <th>관</th>
                                    <th>강사명</th>
                                    <th>과목 수</th>
                                    <th>수업 수</th>
                                    <th>수업일</th>
                                    <th>계획 시간(분)</th>
                                    <th>실제 시간(분)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @@for (var i = 5; i > 0; i--) {
                                <tr>
                                    <td>3</td>
                                    <td>브릿지</td>
                                    <td>
                                        <a href="javascript:;" class="text-underline">김강사</a>
                                    </td>
                                    <td>1</td>
                                    <td>3</td>
                                    <td>24</td>
                                    <td>2400</td>
                                    <td>
                                        <a href="javascript:;" class="text-underline">2300</a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    @@include('@@webRoot/_include/_pagination.html')
                </div>
                <div class="hr"></div>
                <div class="p-3">
                    <div class="row align-items-center mb-2">
                        <div class="col-auto">
                            <strong class="mr-2">수업 상세 내역</strong>총 ###건
                        </div>
                    </div>
                    <div class="main_search_result_list">
                        <!-- softpuzzle에서 쓰는 datatable 고정 클래스명 -->
                        <table class="table table-center" id="datatable1">
                            <thead>
                                <tr>
                                    <th>월</th>
                                    <th>관</th>
                                    <th>강사명</th>
                                    <th>과목</th>
                                    <th>선택구분</th>
                                    <th>쉅명</th>
                                    <th>계획수업일</th>
                                    <th>실제수업일</th>
                                    <th>계획 시간(분)</th>
                                    <th>실제 시간(분)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @@for (var i = 10; i > 0; i--) {
                                <tr>
                                    <td>3</td>
                                    <td>브릿지</td>
                                    <td>김강사</td>
                                    <td>수학(종합)</td>
                                    <td>필수</td>
                                    <td>S반 수학</td>
                                    <td>3/1</td>
                                    <td>3/1</td>
                                    <td>100</td>
                                    <td>100</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    @@include('@@webRoot/_include/_pagination.html')
                </div>
                <!-- 컨텐츠 끝 -->

            </main>

        </div>

        @@include('@@webRoot/_include/_footer.html')

    </div>

    @@include('@@webRoot/_include/_modal.html')

    <script>

    </script>

</body>

</html>