<!DOCTYPE html>
<html lang="ko">

<head>
    @@include('@@webRoot/_include/_head.html')
</head>

<body>

    <div id="wrap">

        @@include('@@webRoot/_include/_header.html')

        <div id="container-block">

            @@include('@@webRoot/_include/_aside.html')

            <main id="content" role="main">

                <!-- 컨텐츠 시작 -->
                <h2 class="title">수업 출결</h2>
                <div class="p-3 border-bottom">
                    <div class="row justify-content-between">
                        <div class="col-auto">
                            <div class="d-flex align-items-center">
                                <select name="" id="" class="custom-select w-auto mr-2">
                                    <option value="">관</option>
                                </select>
                                <select name="" id="" class="custom-select w-auto mr-2">
                                    <option value="">교실</option>
                                </select>
                                <select name="" id="" class="custom-select w-auto mr-2">
                                    <option value="">교시</option>
                                </select>
                                <select name="" id="" class="custom-select w-auto mr-5">
                                    <option value="">과목</option>
                                </select>
                                <input type="text" class="form-control form-datepicker" style="width: 120px;">
                            </div>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modal-attendance-mobile1">모바일버전</button>
                        </div>
                    </div>
                </div>
                <div class="split-horizontal">
                    <div class="section" id="split-horizontal-1">
                        <div class="p-3">
                            <div class="row align-items-center justify-content-between mb-2">
                                <div class="col-auto">
                                    <strong class="mr-2">수업</strong>총 ###건
                                </div>
                                <div class="col-auto">
                                    <input type="checkbox" id="finishClass">
                                    <label for="finishClass" class="mb-0">완료 수업 보지 않기</label>
                                </div>
                            </div>
                            <div class="main_search_result_list">
                                <!-- softpuzzle에서 쓰는 datatable 고정 클래스명 -->
                                <table class="table table-center table-hover" id="datatable2">
                                    <thead>
                                        <tr>
                                            <th>관</th>
                                            <th>교시</th>
                                            <th>강사명</th>
                                            <th>수업명</th>
                                            <th>교실</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @@for (var i = 10; i > 0; i--) {
                                        <tr class="cursor-pointer">
                                            <td>M3</td>
                                            <td>1</td>
                                            <td>오렌지</td>
                                            <td>D반 영어</td>
                                            <td>M관 201호 | M관 202호</td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            @@include('@@webRoot/_include/_pagination.html')
                        </div>
                    </div>
                    <div class="section" id="split-horizontal-2">
                        <div class="p-3">
                            <div class="row">
                                <div class="col">
                                    <div class="d-flex justify-content-center align-items-center font-size-14px mb-3">
                                        <strong>목요일 1교시</strong>
                                        <small class="text-muted mx-2">|</small>
                                        <strong>오렌지</strong>
                                        <small class="text-muted mx-2">|</small>
                                        <strong>D반 영어</strong>
                                    </div>
                                </div>
                                <div class="col-auto text-right">
                                    <button type="button" class="btn btn-dark btn-sm" onclick="confirm('정산에 반영되는 중요 데이터입니다. \n수업 미진행 - 0분으로 기록해도 좋습니까?')">저장</button>
                                </div>
                            </div>
                            <table class="table table-bordered table-fixed mb-3">
                                <colgroup>
                                    <col style="width: 100px">
                                    <col>
                                    <col style="width: 100px">
                                    <col>
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th>수업 회차</th>
                                        <td>3회차 - 3/16(수) 3-3교시</td>
                                        <th>변동 사항</th>
                                        <td>
                                            <div class="row row-5">
                                                <div class="col-auto">
                                                    <select name="" id="" class="custom-select">
                                                        <option value="">강의 취소</option>
                                                    </select>
                                                </div>
                                                <div class="col">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>수업 진행 시간</th>
                                        <td>
                                            <div class="row row-5 align-items-center">
                                                <div class="col-auto">
                                                    <select name="" id="" class="custom-select">
                                                        <option value="">미진행</option>
                                                    </select>
                                                </div>
                                                <div class="col-auto">
                                                    <input type="text" class="form-control text-center d-inline-block" value="0" style="width: 60px">
                                                </div>
                                            </div>
                                        </td>
                                        <th>보강 여부</th>
                                        <td>
                                            <select name="" id="" class="custom-select">
                                                <option value="">보강 예정</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>기타 특이사항</th>
                                        <td colspan="3">
                                            <input type="text" class="form-control">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>공지 요청사항</th>
                                        <td colspan="3">
                                            <div class="row row-5 align-items-center">
                                                <div class="col">
                                                    <input type="text" class="form-control">
                                                </div>
                                                <div class="col-auto">
                                                    <input type="checkbox" id="connectingNotify2">
                                                    <label for="connectingNotify2" class="mb-0">연결 수업에 공지</label>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table table-center table-hover" id="table1">
                                <thead>
                                    <tr>
                                        <th>중계 여부</th>
                                        <th>교실</th>
                                        <th>정원</th>
                                        <th>출석</th>
                                        <th>지각</th>
                                        <th>오류</th>
                                        <th>미입실</th>
                                        <th>배부상태</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <td>계</td>
                                        <td></td>
                                        <td><a href="javascript:;" class="text-underline">64</a></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    @@for (var i = 2; i > 0; i--) {
                                    <tr class="cursor-pointer">
                                        <td>현장</td>
                                        <td>M관 201호</td>
                                        <td><a href="javascript:;" class="text-underline">32</a></td>
                                        <td><a href="javascript:;" class="text-underline">28</a></td>
                                        <td><a href="javascript:;" class="text-underline">2</a></td>
                                        <td><a href="javascript:;" class="text-underline">1</a></td>
                                        <td><a href="javascript:;" class="text-underline">1</a></td>
                                        <td><a href="#modal-distribution-state" class="text-underline" data-toggle="modal">배부 전</a></td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                            <table class="table table-center mt-4">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>관</th>
                                        <th>학생ID</th>
                                        <th>교실</th>
                                        <th>카드번호</th>
                                        <th>태깅시간</th>
                                        <th>태깅 구분</th>
                                        <th>수령</th>
                                        <th>수정</th>
                                        <th>수정사유</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @@for (var i = 5; i > 0; i--) {
                                    <tr>
                                        <td>배부</td>
                                        <td>M3</td>
                                        <td>김시대1234</td>
                                        <td>201호</td>
                                        <td>1234567</td>
                                        <td>00:00:00</td>
                                        <td>수업전 배부</td>
                                        <td></td>
                                        <td><a href="#modal-attendance-edit" data-toggle="modal" class="text-underline">수정</a></td>
                                        <td>카드 손상</td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- 컨텐츠 끝 -->

            </main>

        </div>

        @@include('@@webRoot/_include/_footer.html')

    </div>

    @@include('@@webRoot/_include/_modal.html')

    <script>
        setTimeout(function(){
            Common.splitH.setSizes([40, 60])
        },100);

        $('#datatable2 > tbody > tr').on('click',function(){
            $(this).siblings('tr').removeClass('selected');
            $(this).addClass('selected');
        });
    </script>

</body>

</html>