<!DOCTYPE html>
<html lang="ko">

<head>
    @@include('@@webRoot/_include/_head.html')
</head>

<body>

    <div id="wrap">

        @@include('@@webRoot/_include/_header.html')

        <div id="container-block">

            @@include('@@webRoot/_include/_aside.html')

            <main id="content" role="main">

                <!-- 컨텐츠 시작 -->
                <h2 class="title">기타 신청</h2>
                <div class="p-3 border-bottom">
                    <div class="row justify-content-between">
                        <div class="col-auto">
                            <div class="d-flex align-items-center">
                                <select name="" id="" class="custom-select w-auto mr-2">
                                    <option value="">관</option>
                                </select>
                                <select name="" id="" class="custom-select w-auto mr-2">
                                    <option value="">담임</option>
                                </select>
                                <input type="text" class="form-control form-datepicker mr-2" style="width:120px">
                                <div class="mx-2">~</div>
                                <input type="text" class="form-control form-datepicker mr-2" style="width:120px">
                                <button type="button" class="btn btn-dark">검색</button>
                            </div>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modal-etc-manage">기타 요청 관리</button>
                            <button type="button" class="btn btn-info ml-1">TODAY</button>
                        </div>
                    </div>
                </div>
                <div class="p-3 table-dashboard-style">
                    <table class="table table-bordered table-fixed">
                        <thead>
                            <tr>
                                <th class="text-center" rowspan="2">관</th>
                                <th class="text-center" colspan="4">기타 요청</th>
                                <th class="text-center" rowspan="2">총 신청 건수</th>
                                <th class="text-center table-bg-1" rowspan="2">접수</th>
                                <th class="text-center table-bg-1" rowspan="2">확인중</th>
                                <th class="text-center table-bg-1" rowspan="2">반려</th>
                                <th class="text-center table-bg-1" rowspan="2">처리완료 <br>(승인)</th>
                                <th class="text-center table-bg-1" rowspan="2">답변 <br>(승인)</th>
                            </tr>
                            <tr>
                                <th class="text-center">기타요청</th>
                                <th class="text-center">방해신고</th>
                                <th class="text-center">추가1</th>
                                <th class="text-center">추가2</th>
                            </tr>
                        </thead>
                        <tbody>
                            @@for (var i = 4; i > 0; i--) {
                            <tr>
                                <td class="text-center">
                                    <a href="javascript:;" class="text-underline">브릿지관</a>
                                </td>
                                <td class="text-center">
                                    <a href="javascript:;" class="text-underline">1</a>
                                </td>
                                <td class="text-center">
                                    <a href="javascript:;" class="text-underline">3</a>
                                </td>
                                <td class="text-center">
                                    <a href="javascript:;" class="text-underline">5</a>
                                </td>
                                <td class="text-center">
                                    <a href="javascript:;" class="text-underline">1</a>
                                </td>
                                <td class="text-center">
                                    <a href="javascript:;" class="text-underline">1</a>
                                </td>
                                <td class="text-center">
                                    <a href="javascript:;" class="text-underline">2</a>
                                </td>
                                <td class="text-center">
                                    <a href="javascript:;" class="text-underline">1</a>
                                </td>
                                <td class="text-center">
                                    <a href="javascript:;" class="text-underline">9</a>
                                </td>
                                <td class="text-center">
                                    <a href="javascript:;" class="text-underline">7</a>
                                </td>
                                <td class="text-center">
                                    <a href="javascript:;" class="text-underline">0</a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="hr"></div>
                <div class="p-3">
                    <div class="row align-items-center mb-2">
                        <div class="col-auto">
                            <strong class="mr-2">기타 요청 목록</strong>총 ###건
                        </div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="col-auto">
                            <div class="d-flex align-items-center">
                                <select name="" id="" class="custom-select w-auto mr-2">
                                    <option value="">요청구분</option>
                                </select>
                                <select name="" id="" class="custom-select w-auto mr-2">
                                    <option value="">상태</option>
                                </select>
                                <select name="" id="" class="custom-select w-auto mr-2">
                                    <option value="">학생ID</option>
                                </select>
                                <input type="text" class="form-control w-auto mr-2">
                                <button type="button" class="btn btn-dark">검색</button>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-between align-items-end mb-2 mt-2">
                        <div class="col-auto">
                            <div class="d-flex align-items-center">
                                <select name="" id="" class="custom-select custom-select-sm w-auto mr-2">
                                    <option value="">접수일</option>
                                </select>
                                <input type="text" class="form-control form-control-sm form-datepicker mr-2" style="width:120px">
                                <div class="mx-2">~</div>
                                <input type="text" class="form-control form-control-sm form-datepicker mr-2" style="width:120px">
                            </div>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-dark btn-sm">파일다운로드</button>
                            <button type="button" class="btn btn-dark btn-sm ml-1">확인중</button>
                            <button type="button" class="btn btn-dark btn-sm ml-1" data-target="#modal-etc-return" data-toggle="modal">반려</button>
                            <button type="button" class="btn btn-dark btn-sm ml-1" data-target="#modal-etc-answer" data-toggle="modal">답변</button>
                            <button type="button" class="btn btn-dark btn-sm ml-1">처리완료</button>
                        </div>
                    </div>
                    <div class="main_search_result_list">
                        <!-- softpuzzle에서 쓰는 datatable 고정 클래스명 -->
                        <table class="table table-center" id="datatable1">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" data-event="checkAll" data-target="attendanceAll"></th>
                                    <th>No</th>
                                    <th>관</th>
                                    <th>학생ID</th>
                                    <th>좌석번호</th>
                                    <th>요청구분</th>
                                    <th>요청사유</th>
                                    <th>위치</th>
                                    <th>접수일</th>
                                    <th>상태</th>
                                    <th>메시지</th>
                                    <th>승인일</th>
                                    <th>승인자</th>
                                </tr>
                            </thead>
                            <tbody>
                                @@for (var i = 5; i > 0; i--) {
                                <tr>
                                    <td><input type="checkbox" name="attendanceAll"></td>
                                    <td>`+ i +`</td>
                                    <td>M3</td>
                                    <td>김학생1234</td>
                                    <td>123</td>
                                    <td>방해신고</td>
                                    <td>문의 내용 앞자리 애가 잠 자는데 너무 시끄럽게 코를 골아요. 좀 어떻게 해주세요 ㅠㅠ</td>
                                    <td>2층 제일 앞좌석</td>
                                    <td>mm/dd <br>00:00</td>
                                    <td>접수</td>
                                    <td>가장 가까운곳은 3층 ##앞입니다….</td>
                                    <td>mm/dd <br>00:00</td>
                                    <td class="text-nowrap">User name <br>(UserID)</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    @@include('@@webRoot/_include/_pagination.html')
                    <div class="text-right">
                        <button type="button" class="btn btn-dark">요청 취소</button>
                    </div>
                </div>

                <!-- 컨텐츠 끝 -->

            </main>

        </div>

        @@include('@@webRoot/_include/_footer.html')

    </div>

    <!-- modal : 기타 요청 관리 -->
    <div class="modal" tabindex="-1" id="modal-etc-manage" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" style="max-width: 950px">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">기타 요청 관리</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text-right mb-3">
                        <button type="button" class="btn btn-dark">추가</button>
                    </div>
                    <table class="table table-center table-fixed">
                        <colgroup>
                            <col style="width: 40px">
                            <col style="width: 120px">
                            <col>
                            <col>
                            <col style="width: 65px">
                            <col style="width: 135px">
                            <col style="width: 130px">
                            <col style="width: 50px">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>구분명</th>
                                <th>사유 예시</th>
                                <th>위치 예시</th>
                                <th>순서</th>
                                <th>사용 여부</th>
                                <th>등록/수정</th>
                                <th>삭제</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>
                                    <input type="text" class="form-control" value="위생/청결">
                                </td>
                                <td>
                                    <input type="text" class="form-control" value="변기 고장">
                                </td>
                                <td>
                                    <input type="text" class="form-control" value="3층 화장실 두번째칸">
                                </td>
                                <td>
                                    <select name="" id="" class="custom-select">
                                        <option value="">1</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="radio" name="etcUse" id="etcUseY">
                                    <label for="etcUseY">사용</label>
                                    <input type="radio" name="etcUse" id="etcUseN" checked>
                                    <label for="etcUseN">미사용</label>
                                </td>
                                <td>2022-02-17 김소라</td>
                                <td>
                                    <a href="javascript:;" class="text-underline">삭제</a>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>
                                    <input type="text" class="form-control" value="와이파이">
                                </td>
                                <td>
                                    <input type="text" class="form-control" value="">
                                </td>
                                <td>
                                    <input type="text" class="form-control" value="">
                                </td>
                                <td>
                                    <select name="" id="" class="custom-select">
                                        <option value="">2</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="radio" name="etcUse1" id="etcUse1-Y" checked>
                                    <label for="etcUse1-Y">사용</label>
                                    <input type="radio" name="etcUse1" id="etcUse1-N">
                                    <label for="etcUse1-N">미사용</label>
                                </td>
                                <td>2022-02-17 김소라</td>
                                <td>
                                    <a href="javascript:;" class="text-underline">삭제</a>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>
                                    <input type="text" class="form-control" value="">
                                </td>
                                <td>
                                    <input type="text" class="form-control" value="">
                                </td>
                                <td>
                                    <input type="text" class="form-control" value="">
                                </td>
                                <td>
                                    <select name="" id="" class="custom-select">
                                        <option value="">3</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="radio" name="etcUse2" id="etcUse2-Y">
                                    <label for="etcUse2-Y">사용</label>
                                    <input type="radio" name="etcUse2" id="etcUse2-N">
                                    <label for="etcUse2-N">미사용</label>
                                </td>
                                <td>2022-02-17 김소라</td>
                                <td>
                                    <a href="javascript:;" class="text-underline">삭제</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-dark">저장</button>
                    <button type="button" class="btn btn-lightgray" data-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal : 문의/요청 처리 반려 -->
    <div class="modal" tabindex="-1" id="modal-etc-return" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">문의/요청 처리 반려</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="mb-2">선택한 문의/요청을 반려합니다. <br>반려 사유를 작성해 주세요.</p>
                    <textarea name="" id="" cols="" rows="3" class="form-control"></textarea>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-dark">반려</button>
                    <button type="button" class="btn btn-lightgray" data-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>
     <!-- modal : 문의/요청 처리 답변 -->
     <div class="modal" tabindex="-1" id="modal-etc-answer" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">문의/요청 처리 답변</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="mb-2">선택한 문의/요청과 관련하여 <br>답변을 작성해 주세요. <br>(여러 건을 선택한 경우 일괄 답변 됩니다)</p>
                    <textarea name="" id="" cols="" rows="3" class="form-control"></textarea>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-dark">답변</button>
                    <button type="button" class="btn btn-lightgray" data-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>

    <script>

    </script>

</body>

</html>