<!DOCTYPE html>
<html lang="ko">

<head>
    @@include('@@webRoot/_include/_head.html')
</head>

<body>

    <div id="wrap">

        @@include('@@webRoot/_include/_header.html')

        <div id="container-block">

            @@include('@@webRoot/_include/_aside.html')

            <main id="content" role="main">

                <!-- 컨텐츠 시작 -->
                <h2 class="title">출결 신청</h2>
                <div class="p-3 border-bottom">
                    <div class="row justify-content-between">
                        <div class="col-auto">
                            <div class="d-flex align-items-center">
                                <select name="" id="" class="custom-select w-auto mr-2">
                                    <option value="">관</option>
                                </select>
                                <select name="" id="" class="custom-select w-auto mr-2">
                                    <option value="">담임</option>
                                </select>
                                <input type="text" class="form-control form-datepicker mr-2" style="width:120px">
                                <div class="mx-2">~</div>
                                <input type="text" class="form-control form-datepicker mr-2" style="width:120px">
                                <button type="button" class="btn btn-dark">검색</button>
                            </div>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-info">TODAY</button>
                        </div>
                    </div>
                </div>
                <nav class="pt-3 pl-3 pr-3">
                    <ul class="nav nav-pills nav-justified" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" data-toggle="tab" href="#tab1-1" role="tab" aria-selected="true">바로콜</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" data-toggle="tab" href="#tab1-2" role="tab" aria-selected="false">오프라인</a>
                        </li>
                    </ul>
                </nav>
                <div class="tab-content">
                    <div class="tab-pane show active" id="tab1-1" role="tabpanel">
                        <div class="p-3 table-dashboard-style">
                            <table class="table table-bordered table-fixed">
                                <thead>
                                    <tr>
                                        <th class="text-center" rowspan="2">관</th>
                                        <th class="text-center" colspan="4">출결신청</th>
                                        <th class="text-center" rowspan="2">총 신청 건수</th>
                                        <th class="text-center table-bg-1" rowspan="2">처리 필요 <br>(미승인)</th>
                                        <th class="text-center table-bg-1" rowspan="2">반려</th>
                                        <th class="text-center table-bg-1" rowspan="2">승인 <br>(증빙 필요)</th>
                                        <th class="text-center table-bg-1" rowspan="2">승인 <br>(증빙 완료)</th>
                                    </tr>
                                    <tr>
                                        <th class="text-center">결석</th>
                                        <th class="text-center">지각</th>
                                        <th class="text-center">조퇴</th>
                                        <th class="text-center">외출</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @@for (var i = 5; i > 0; i--) {
                                    <tr>
                                        <td class="text-center">
                                            <a href="javascript:;" class="text-underline">브릿지관</a>
                                        </td>
                                        <td class="text-center">
                                            <a href="javascript:;" class="text-underline">1</a>
                                        </td>
                                        <td class="text-center">
                                            <a href="javascript:;" class="text-underline">3</a>
                                        </td>
                                        <td class="text-center">
                                            <a href="javascript:;" class="text-underline">5</a>
                                        </td>
                                        <td class="text-center">
                                            <a href="javascript:;" class="text-underline">1</a>
                                        </td>
                                        <td class="text-center">
                                            <a href="javascript:;" class="text-underline">9</a>
                                        </td>
                                        <td class="text-center">
                                            <a href="javascript:;" class="text-underline">2</a>
                                        </td>
                                        <td class="text-center">
                                            <a href="javascript:;" class="text-underline">1</a>
                                        </td>
                                        <td class="text-center">
                                            <a href="javascript:;" class="text-underline">9</a>
                                        </td>
                                        <td class="text-center">
                                            <a href="javascript:;" class="text-underline">7</a>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="hr"></div>
                        <div class="p-3">
                            <div class="row align-items-center mb-2">
                                <div class="col-auto">
                                    <strong class="mr-2">출결 신청 전체 목록</strong>총 ###건
                                </div>
                            </div>
                            <div class="row justify-content-between">
                                <div class="col-auto">
                                    <div class="d-flex align-items-center">
                                        <select name="" id="" class="custom-select w-auto mr-2">
                                            <option value="">신청경로</option>
                                        </select>
                                        <select name="" id="" class="custom-select w-auto mr-2">
                                            <option value="">출결구분</option>
                                        </select>
                                        <select name="" id="" class="custom-select w-auto mr-2">
                                            <option value="">상태</option>
                                        </select>
                                        <select name="" id="" class="custom-select w-auto mr-2">
                                            <option value="">학생ID</option>
                                        </select>
                                        <input type="text" class="form-control w-auto mr-2">
                                        <button type="button" class="btn btn-dark">검색</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-between align-items-end mb-2 mt-2">
                                <div class="col-auto">
                                    <div class="d-flex align-items-center">
                                        <select name="" id="" class="custom-select custom-select-sm w-auto mr-2">
                                            <option value="">접수일</option>
                                        </select>
                                        <input type="text" class="form-control form-control-sm form-datepicker mr-2" style="width:120px">
                                        <div class="mx-2">~</div>
                                        <input type="text" class="form-control form-control-sm form-datepicker mr-2" style="width:120px">
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <button type="button" class="btn btn-dark btn-sm">파일다운로드</button>
                                    <button type="button" class="btn btn-dark btn-sm ml-1">푸시</button>
                                    <button type="button" class="btn btn-dark btn-sm ml-1">문자</button>
                                    <button type="button" class="btn btn-dark btn-sm ml-1">승인</button>
                                    <button type="button" class="btn btn-dark btn-sm ml-1" data-target="#modal-return" data-toggle="modal">반려</button>
                                    <button type="button" class="btn btn-dark btn-sm ml-1" onclick="confirm('선택한 출결 신청과 관련하여 \n학생의 증빙 서류를 확인하셨습니까?')">증빙완료</button>
                                </div>
                            </div>
                            <div class="main_search_result_list">
                                <!-- softpuzzle에서 쓰는 datatable 고정 클래스명 -->
                                <table class="table" id="datatable1">
                                    <thead>
                                        <tr>
                                            <th class="text-center"><input type="checkbox" data-event="checkAll" data-target="attendanceAll"></th>
                                            <th class="text-center">No</th>
                                            <th class="text-center">신청경로</th>
                                            <th class="text-center">관</th>
                                            <th class="text-center">학생ID</th>
                                            <th class="text-center">좌석번호</th>
                                            <th class="text-center">구분</th>
                                            <th class="text-center">요청일</th>
                                            <th class="text-center">시작</th>
                                            <th class="text-center">종료</th>
                                            <th class="text-center">요청사유</th>
                                            <th class="text-center">증빙</th>
                                            <th class="text-center">접수일</th>
                                            <th class="text-center">상태</th>
                                            <th class="text-center">비고(메세지)</th>
                                            <th class="text-center">승인일</th>
                                            <th class="text-center">승인자</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @@for (var i = 5; i > 0; i--) {
                                        <tr>
                                            <td class="text-center"><input type="checkbox" name="attendanceAll"></td>
                                            <td class="text-center">`+ i +`</td>
                                            <td class="text-center">바로콜</td>
                                            <td class="text-center">N</td>
                                            <td class="text-center">김학생1234</td>
                                            <td class="text-center">123</td>
                                            <td class="text-center">지각</td>
                                            <td class="text-center">12-03(금)</td>
                                            <td class="text-center">08:30</td>
                                            <td class="text-center">09:30</td>
                                            <td class="text-center">병원 정기 검진</td>
                                            <td class="text-center"><a href="#none" class="text-underline">파일명.확장자</a></td>
                                            <td class="text-center">mm/dd <br>00:00</td>
                                            <td class="text-center">접수</td>
                                            <td class="text-center">-</td>
                                            <td class="text-center">mm/dd <br>00:00</td>
                                            <td class="text-center">User name <br>(UserID)</td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            @@include('@@webRoot/_include/_pagination.html')
                            <div class="text-right">
                                <button type="button" class="btn btn-dark">요청 취소</button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab1-2" role="tabpanel">
                        <div class="p-3">
                            <div class="row justify-content-between mb-2">
                                <div class="col-auto">
                                    <div class="d-flex align-items-center">
                                        <select name="" id="" class="custom-select w-auto mr-2">
                                            <option value="">구분</option>
                                        </select>
                                        <select name="" id="" class="custom-select w-auto mr-2">
                                            <option value="">신청 종류</option>
                                        </select>
                                        <select name="" id="" class="custom-select w-auto mr-2">
                                            <option value="">증빙 여부</option>
                                        </select>
                                        <select name="" id="" class="custom-select w-auto mr-2">
                                            <option value="">학생ID</option>
                                        </select>
                                        <input type="text" class="form-control w-auto mr-2">
                                        <button type="button" class="btn btn-dark">검색</button>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modal-document-finish">증빙완료</button>
                                    <button type="button" class="btn btn-dark ml-1">파일업로드</button>
                                    <button type="button" class="btn btn-dark ml-1" data-toggle="modal" data-target="#modal-attendance-add">등록</button>
                                </div>
                            </div>
                            <div class="main_search_result_list">
                                <!-- softpuzzle에서 쓰는 datatable 고정 클래스명 -->
                                <table class="table" id="datatable1">
                                    <thead>
                                        <tr>
                                            <th class="text-center"><input type="checkbox" data-event="checkAll" data-target="offlineAll"></th>
                                            <th class="text-center">No</th>
                                            <th class="text-center">관</th>
                                            <th class="text-center">학생ID</th>
                                            <th class="text-center">좌석번호</th>
                                            <th class="text-center">구분</th>
                                            <th class="text-center">신청종류</th>
                                            <th class="text-center">요청 시작일</th>
                                            <th class="text-center">요청 종료일</th>
                                            <th class="text-center">요일반복</th>
                                            <th class="text-center">시작</th>
                                            <th class="text-center">종료</th>
                                            <th class="text-center">요청사유</th>
                                            <th class="text-center">증빙여부</th>
                                            <th class="text-center">비고(메시지)</th>
                                            <th class="text-center">접수일</th>
                                            <th class="text-center">접수자</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @@for (var i = 5; i > 0; i--) {
                                        <tr>
                                            <td class="text-center"><input type="checkbox" name="offlineAll"></td>
                                            <td class="text-center">`+ i +`</td>
                                            <td class="text-center">N</td>
                                            <td class="text-center">
                                                <a href="#modal-attendance-edit" data-toggle="modal" class="text-underline">김학생1234</a>
                                            </td>
                                            <td class="text-center">123</td>
                                            <td class="text-center">지각</td>
                                            <td class="text-center">정기</td>
                                            <td class="text-center">01-03(월)</td>
                                            <td class="text-center">01-31(화)</td>
                                            <td class="text-center">월,목</td>
                                            <td class="text-center">08:30</td>
                                            <td class="text-center">09:30</td>
                                            <td class="text-center">병원 정기 검진</td>
                                            <td class="text-center">Y</td>
                                            <td class="text-center">-</td>
                                            <td class="text-center">mm/dd <br>00:00</td>
                                            <td class="text-center">User name <br>(UserID)</td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            @@include('@@webRoot/_include/_pagination.html')
                        </div>
                        <div class="hr"></div>
                        <div class="p-3">
                            <div class="row align-items-center mb-2">
                                <div class="col-auto">
                                    <strong class="mr-2">출결 신청 전체 목록</strong>총 ###건
                                </div>
                            </div>
                            <div class="row justify-content-between">
                                <div class="col-auto">
                                    <div class="d-flex align-items-center">
                                        <select name="" id="" class="custom-select w-auto mr-2">
                                            <option value="">신청경로</option>
                                        </select>
                                        <select name="" id="" class="custom-select w-auto mr-2">
                                            <option value="">출결구분</option>
                                        </select>
                                        <select name="" id="" class="custom-select w-auto mr-2">
                                            <option value="">상태</option>
                                        </select>
                                        <select name="" id="" class="custom-select w-auto mr-2">
                                            <option value="">학생ID</option>
                                        </select>
                                        <input type="text" class="form-control w-auto mr-2">
                                        <button type="button" class="btn btn-dark">검색</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-between align-items-end mb-2 mt-2">
                                <div class="col-auto">
                                    <div class="d-flex align-items-center">
                                        <select name="" id="" class="custom-select custom-select-sm w-auto mr-2">
                                            <option value="">접수일</option>
                                        </select>
                                        <input type="text" class="form-control form-control-sm form-datepicker mr-2" style="width:120px">
                                        <div class="mx-2">~</div>
                                        <input type="text" class="form-control form-control-sm form-datepicker mr-2" style="width:120px">
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <button type="button" class="btn btn-dark btn-sm">파일다운로드</button>
                                    <button type="button" class="btn btn-dark btn-sm ml-1">푸시</button>
                                    <button type="button" class="btn btn-dark btn-sm ml-1">문자</button>
                                    <button type="button" class="btn btn-dark btn-sm ml-1">승인</button>
                                    <button type="button" class="btn btn-dark btn-sm ml-1" data-target="#modal-return" data-toggle="modal">반려</button>
                                    <button type="button" class="btn btn-dark btn-sm ml-1" onclick="confirm('선택한 출결 신청과 관련하여 \n학생의 증빙 서류를 확인하셨습니까?')">증빙완료</button>
                                </div>
                            </div>
                            <div class="main_search_result_list">
                                <!-- softpuzzle에서 쓰는 datatable 고정 클래스명 -->
                                <table class="table" id="datatable1">
                                    <thead>
                                        <tr>
                                            <th class="text-center"><input type="checkbox" data-event="checkAll" data-target="attendanceAll"></th>
                                            <th class="text-center">No</th>
                                            <th class="text-center">신청경로</th>
                                            <th class="text-center">관</th>
                                            <th class="text-center">학생ID</th>
                                            <th class="text-center">좌석번호</th>
                                            <th class="text-center">구분</th>
                                            <th class="text-center">요청일</th>
                                            <th class="text-center">시작</th>
                                            <th class="text-center">종료</th>
                                            <th class="text-center">요청사유</th>
                                            <th class="text-center">증빙</th>
                                            <th class="text-center">접수일</th>
                                            <th class="text-center">상태</th>
                                            <th class="text-center">비고(메세지)</th>
                                            <th class="text-center">승인일</th>
                                            <th class="text-center">승인자</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @@for (var i = 5; i > 0; i--) {
                                        <tr>
                                            <td class="text-center"><input type="checkbox" name="attendanceAll"></td>
                                            <td class="text-center">`+ i +`</td>
                                            <td class="text-center">바로콜</td>
                                            <td class="text-center">N</td>
                                            <td class="text-center">김학생1234</td>
                                            <td class="text-center">123</td>
                                            <td class="text-center">지각</td>
                                            <td class="text-center">12-03(금)</td>
                                            <td class="text-center">08:30</td>
                                            <td class="text-center">09:30</td>
                                            <td class="text-center">병원 정기 검진</td>
                                            <td class="text-center"><a href="#none" class="text-underline">파일명.확장자</a></td>
                                            <td class="text-center">mm/dd <br>00:00</td>
                                            <td class="text-center">접수</td>
                                            <td class="text-center">-</td>
                                            <td class="text-center">mm/dd <br>00:00</td>
                                            <td class="text-center">User name <br>(UserID)</td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            @@include('@@webRoot/_include/_pagination.html')
                            <div class="text-right">
                                <button type="button" class="btn btn-dark">요청 취소</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 컨텐츠 끝 -->

            </main>

        </div>

        @@include('@@webRoot/_include/_footer.html')

    </div>

    @@include('@@webRoot/_include/_modal.html')

    <script>

    </script>

</body>

</html>