<!DOCTYPE html>
<html lang="ko">

<head>
    @@include('@@webRoot/_include/_head.html')
</head>

<body>

    <div id="wrap">

        @@include('@@webRoot/_include/_header.html')

        <div id="container-block">

            @@include('@@webRoot/_include/_aside.html')

            <main id="content" role="main">

                <!-- 컨텐츠 시작 -->
                <h2 class="title">문자 발송</h2>
                <div class="p-3 border-bottom">
                    <div class="row justify-content-between">
                        <div class="col-auto">
                            <div class="d-flex align-items-center">
                                <select name="" id="" class="custom-select w-auto mr-2">
                                    <option value="">관</option>
                                </select>
                                <select name="" id="" class="custom-select w-auto mr-2">
                                    <option value="">알림 구분</option>
                                </select>
                                <select name="" id="" class="custom-select w-auto mr-2">
                                    <option value="">게시판</option>
                                </select>
                                <select name="" id="" class="custom-select w-auto">
                                    <option value="">자동알림</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-dark">파일다운로드</button>
                            <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modal-noti-classify">알림구분관리</button>
                        </div>
                    </div>
                </div>
                <div style="min-height: calc(100vh - 193px);">
                    <div class="split-vertical">
                        <div class="section init" id="split-vertical-1">
                            <div class="p-3">
                                <div class="row align-items-center mb-2">
                                    <div class="col-auto">
                                        총 ###건
                                    </div>
                                </div>
                                <div class="main_search_result_list">
                                    <!-- softpuzzle에서 쓰는 datatable 고정 클래스명 -->
                                    <table class="table" id="datatable1">
                                        <thead>
                                            <tr>
                                                <th class="text-center">No</th>
                                                <th class="text-center">알림 구분</th>
                                                <th class="text-center">알림 그룹 기준</th>
                                                <th class="text-center">알림 내용</th>
                                                <th class="text-center">알림 대상</th>
                                                <th class="text-center">방송시점</th>
                                                <th class="text-center">게시판</th>
                                                <th class="text-center">문자</th>
                                                <th class="text-center">푸시</th>
                                                <th class="text-center">자동 알림</th>
                                                <th class="text-center">사용여부</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @@for (var i = 5; i > 0; i--) {
                                            <tr>
                                                <td class="text-center">
                                                    `+ i +`
                                                </td>
                                                <td class="text-center">[강의]휴강</td>
                                                <td class="text-center">수업</td>
                                                <td class="text-center">
                                                    <a href="" data-toggle="modal" class="text-underline">수정</a>
                                                </td>
                                                <td class="text-center">학생</td>
                                                <td class="text-center">발생 즉시</td>
                                                <td class="text-center">N</td>
                                                <td class="text-center">Y</td>
                                                <td class="text-center">N</td>
                                                <td class="text-center">Y</td>
                                                <td class="text-center">Y</td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                @@include('@@webRoot/_include/_pagination.html')
                            </div>
                        </div>
                        <div class="section init" id="split-vertical-2">
                            <nav class="tab-custom px-5">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab">게시판 일림</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" data-toggle="tab" href="#tab2" role="tab">문자 알림</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" data-toggle="tab" href="#tab3" role="tab">푸시 알림</a>
                                    </li>
                                </ul>
                            </nav>
                            <div class="p-3">
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="tab1" role="tabpanel">
                                        <div class="row align-items-end justify-content-between mb-2">
                                            <div class="col-auto">
                                                총 ###건
                                            </div>
                                            <div class="col-auto">
                                                <div class="d-flex align-items-center">
                                                    <select name="" id="" class="custom-select w-auto mr-2">
                                                        <option value="">알림 그룹</option>
                                                    </select>
                                                    <input type="text" class="form-control form-datepicker mr-2" style="width: 120px">
                                                    <span class="mr-2">~</span>
                                                    <input type="text" class="form-control form-datepicker" style="width: 120px">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="main_search_result_list">
                                            <!-- softpuzzle에서 쓰는 datatable 고정 클래스명 -->
                                            <table class="table" id="datatable1">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">No.</th>
                                                        <th class="text-center">게시일</th>
                                                        <th class="text-center">알림 그룹</th>
                                                        <th class="text-center">조회수</th>
                                                        <th class="text-center">공개 여부</th>
                                                        <th class="text-center">게시글 제목</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @@for (var i = 10; i > 0; i--) {
                                                    <tr>
                                                        <td class="text-center">
                                                            `+ i +`
                                                        </td>
                                                        <td class="text-center">yy-mm-dd</td>
                                                        <td class="text-center">M3관  S반 국어 김은양T</td>
                                                        <td class="text-center"></td>
                                                        <td class="text-center"></td>
                                                        <td class="text-center">
                                                            <a href="javascript:;" class="text-underline">[S반 국어 김은양T] [강의 휴강] 안내</a>
                                                        </td>
                                                    </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                        @@include('@@webRoot/_include/_pagination.html')
                                    </div>
                                    <div class="tab-pane fade" id="tab2" role="tabpanel">2
                                    </div>
                                    <div class="tab-pane fade" id="tab3" role="tabpanel">3
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 컨텐츠 끝 -->

            </main>

        </div>

        @@include('@@webRoot/_include/_footer.html')

    </div>

    <!-- modal : 알림 구분 관리 -->
    <div class="modal" tabindex="-1" id="modal-noti-classify" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">알림 구분 관리</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row justify-content-between align-items-end mb-2">
                        <div class="col-auto">
                            <div class="table-title mb-0">알림 구분 등록</div>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-dark btn-sm">추가</button>
                        </div>
                    </div>
                    <table class="table table-bordered table-fixed">
                        <colgroup>
                            <col style="width: 100px;">
                            <col>
                            <col style="width: 100px;">
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>알림 구분명</th>
                                <td>
                                    <div class="row row-5">
                                        <div class="col-auto">
                                            <select name="" id="" class="custom-select">
                                                <option value="">입력</option>
                                            </select>
                                        </div>
                                        <div class="col">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </td>
                                <th>노출 순서</th>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <th>알림 구분 상세</th>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                                <th>사용 여부</th>
                                <td>
                                    <input type="radio" name="notiUse" id="notiUseY">
                                    <label for="notiUseY">사용</label>
                                    <input type="radio" name="notiUse" id="notiUseN">
                                    <label for="notiUseN">사용 안 함</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="table-title mt-3">알림 구분 관리</div>
                    <table class="table table-fixed">
                        <colgroup>
                            <col style="width: 60px">
                            <col>
                            <col>
                            <col>
                            <col style="width: 150px;">
                            <col>
                        </colgroup>
                        <thead>
                            <tr>
                                <th class="text-center">No.</th>
                                <th class="text-center">알림 구분</th>
                                <th class="text-center">알림 구분 상세</th>
                                <th class="text-center">순서</th>
                                <th class="text-center">사용 여부</th>
                                <th class="text-center">등록/수정</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center"></td>
                                <td class="text-center">
                                    <input type="text" class="form-control" value="수업/강의">
                                </td>
                                <td class="text-center">
                                    <input type="text" class="form-control" value="휴/보강">
                                </td>
                                <td class="text-center">
                                    <input type="text" class="form-control" value="1">
                                </td>
                                <td class="text-center">
                                    <input type="radio" name="notiUse1" id="notiUse1Y" checked>
                                    <label for="notiUse1Y">사용</label>
                                    <input type="radio" name="notiUse1" id="notiUseN1">
                                    <label for="notiUse1N">사용 안 함</label>
                                </td>
                                <td class="text-center"></td>
                            </tr>
                            <tr>
                                <td class="text-center"></td>
                                <td class="text-center">
                                    <input type="text" class="form-control" value="수업/강의">
                                </td>
                                <td class="text-center">
                                    <input type="text" class="form-control" value="교실변경">
                                </td>
                                <td class="text-center">
                                    <input type="text" class="form-control" value="2">
                                </td>
                                <td class="text-center">
                                    <input type="radio" name="notiUse2" id="notiUse2Y">
                                    <label for="notiUse2Y">사용</label>
                                    <input type="radio" name="notiUse2" id="notiUse2N" checked>
                                    <label for="notiUse2N">사용 안 함</label>
                                </td>
                                <td class="text-center"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-dark">저장</button>
                    <button type="button" class="btn btn-lightgray" data-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>

    <script>

    </script>

</body>

</html>