<nav class="location">
    <ol>
        <li class="home">
            <a href="../main/main.html"><span><i class="icon-home"></i></span></a>
        </li>
        <li class="dep1">
            <a href="javascript:;"><span></span></a>
            <ul></ul>
        </li>
        <li class="dep2">
            <a href="javascript:;"><span></span></a>
            <ul></ul>
        </li>
        <li class="dep3">
            <a href="javascript:;"><span></span></a>
            <ul></ul>
        </li>
    </ol>
</nav>