<aside id="sidebar">
    <nav class="sidebar">
        <div class="overflow-y-scroll">
            <ul class="dep1">
                <li class="has-treeview">
                    <a href="javascript:;"><span>학원코드관리</span></a>
                    <ul class="dep2">
                        <li><a href="../institute_code/code_instituteinfo.html"><span>학원정보등록</span></a></li>
                        <li><a href="../institute_code/code_subject.html"><span>과목 관리</span></a></li>
                        <li><a href="../institute_code/code_plan.html"><span>운영계획</span></a></li>
                        <li><a href="../institute_code/code_instructor.html"><span>강사 등록</span></a></li>
                        <li><a href="../institute_code/code_customer.html"><span>거래처 관리</span></a></li>
                        <li><a href="../institute_code/code_authority.html"><span>직원 권한 관리</span></a></li>
                    </ul>
                </li>
                <li class="has-treeview">
                    <a href="javascript:;"><span>수강생관리</span></a>
                    <ul class="dep2">
                        <li><a href="../institute_students/students_manage.html"><span>수강생관리</span></a></li>
                        <li><a href="../"><span>수강생리스트</span></a></li>
                    </ul>
                </li>
                <li class="has-treeview">
                    <a href=""><span>신청/수납</span></a>
                    <ul class="dep2">
                        <li><a href=""><span>수강신청관리</span></a></li>
                        <li><a href=""><span>선택교재관리</span></a></li>
                        <li><a href=""><span>출결카드관리</span></a></li>
                        <li><a href=""><span>기기대여관리</span></a></li>
                    </ul>
                </li>
                <li><a href=""><span>사이트관리</span></a></li>
                <li><a href=""><span>급식</span></a></li>
            </ul>
        </div>
    </nav>

    <div class="quick-menu">
        <strong>퀵 메뉴</strong>
        <div class="btns">
            <button class="btn-quick-setting" data-toggle="modal" data-target="#modal-quick-setting"><i class="material-icons">settings</i></button>
            <button class="btn-quick-expand"><i class="material-icons">expand_less</i></button>
        </div>
        <ul id="quickMenu">
            <li><a href="">퀵 메뉴</a></li>
            <li><a href="">퀵 메뉴</a></li>
            <li><a href="">퀵 메뉴</a></li>
            <li><a href="">퀵 메뉴</a></li>
        </ul>
    </div>

</aside>