<!DOCTYPE html>
<html lang="ko">

<head>
    @@include('@@webRoot/_include/_head.html')
</head>

<body>

    <div id="wrap">

        @@include('@@webRoot/_include/_header.html')

        <div id="container-block">

            @@include('@@webRoot/_include/_aside.html')

            <main id="content" role="main">

                <!-- 컨텐츠 시작 -->
                <h2 class="title">학생 답안</h2>
                <div class="p-3 border-bottom">
                    <div class="row justify-content-between">
                        <div class="col-auto">
                            <div class="d-flex align-items-center">
                                <select name="" id="" class="custom-select w-auto mr-2">
                                    <option value="">시험명</option>
                                </select>
                                <select name="" id="" class="custom-select w-auto mr-2">
                                    <option value="">영역</option>
                                </select>
                                <select name="" id="" class="custom-select w-auto mr-2">
                                    <option value="">회차</option>
                                </select>
                                <select name="" id="" class="custom-select w-auto mr-3">
                                    <option value="">학생ID</option>
                                    <option value="">직원명</option>
                                </select>
                                <input type="text" class="form-control w-auto mr-2">
                                <button type="button" class="btn btn-dark mr-3">검색</button>
                                <input type="text" class="form-control form-datepicker mr-2" style="width:120px">
                            </div>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-dark">파일다운로드</button>
                            <button type="button" class="btn btn-dark ml-1" data-toggle="modal" data-target="#modal-omr-add">등록</button>
                        </div>
                    </div>
                </div>
                <div class="p-3">
                    <div class="row align-items-end justify-content-between mb-2">
                        <div class="col-auto">
                            <strong class="mr-2">응시 데이터</strong> 총 ###건
                        </div>
                        <div class="col-auto">
                            <div class="col-auto">
                                <input type="checkbox" id="usableOnly">
                                <label for="usableOnly" class="mb-0">사용 항목만 보기</label>
                            </div>
                        </div>
                    </div>
                    <div class="main_search_result_list">
                        <!-- softpuzzle에서 쓰는 datatable 고정 클래스명 -->
                        <table class="table table-center" id="datatable1">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>시험</th>
                                    <th>영역</th>
                                    <th>회차</th>
                                    <th>시행일</th>
                                    <th>사용 컨텐츠</th>
                                    <th>상태</th>
                                    <th>총인원</th>
                                    <th>응시인원</th>
                                    <th>문항정보</th>
                                    <th>OMR 입력</th>
                                    <th>성적</th>
                                    <th>부엉이 포스트</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>6</td>
                                    <td>
                                        <a href="javascript:;" class="text-underline">재종 서바이벌</a>
                                    </td>
                                    <td>
                                        <a href="javascript:;" class="text-underline">수학</a>
                                    </td>
                                    <td>
                                        <a href="javascript:;" class="text-underline">3회</a>
                                    </td>
                                    <td>3월 2주</td>
                                    <td>서바이벌N</td>
                                    <td>시험예정</td>
                                    <td>270</td>
                                    <td>266</td>
                                    <td><a href="#modal-question-add" class="text-underline" data-toggle="modal">등록</a></td>
                                    <td>등록</td>
                                    <td>계산(<a href="" class="text-underline">보기</a>)</td>
                                    <td><a href="javascript:;" class="text-underline" onclick="confirm('발행된 부엉이 포스트를 숨깁니다.');">공개</a></td>
                                </tr>
                                @@for (var i = 5; i > 0; i--) {
                                <tr>
                                    <td>`+ i +`</td>
                                    <td>
                                        <a href="javascript:;" class="text-underline">재종 서바이벌</a>
                                    </td>
                                    <td>
                                        <a href="javascript:;" class="text-underline">수학</a>
                                    </td>
                                    <td>
                                        <a href="javascript:;" class="text-underline">3회</a>
                                    </td>
                                    <td>3월 2주</td>
                                    <td>서바이벌N</td>
                                    <td>시험예정</td>
                                    <td>270</td>
                                    <td>266</td>
                                    <td>30</td>
                                    <td>210</td>
                                    <td>계산</td>
                                    <td><a href="javascript:;" class="text-underline" onclick="confirm('학생에게 부엉이 포스트가 노출됩니다.');">미공개</a></td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    @@include('@@webRoot/_include/_pagination.html')
                </div>
                <div class="hr"></div>
                <nav class="tab-custom px-5">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" data-toggle="tab" href="#tab1-1" role="tab">OMR 등록</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" data-toggle="tab" href="#tab1-2" role="tab">문항 정보</a>
                        </li>
                    </ul>
                </nav>
                <div class="p-3">
                    <div class="tab-content">
                        <div class="tab-pane show active" id="tab1-1" role="tabpanel">
                            <div class="row align-items-end justify-content-between mb-2">
                                <div class="col-auto">
                                    <strong class="mr-2">OMR 입력</strong> 총 ###건
                                </div>
                                <div class="col-auto">
                                    <button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#modal-omr-add">파일업로드</button>
                                    <button type="button" class="btn btn-dark btn-sm ml-1">파일다운로드</button>
                                </div>
                            </div>
                            <div class="main_search_result_list">
                                <!-- softpuzzle에서 쓰는 datatable 고정 클래스명 -->
                                <table class="table table-center" id="datatable1">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>시험</th>
                                            <th>영역</th>
                                            <th>회차</th>
                                            <th>교실</th>
                                            <th>수업명</th>
                                            <th>시험 일시</th>
                                            <th>총인원</th>
                                            <th>출석인원</th>
                                            <th>OMR</th>
                                            <th>상태</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @@for (var i = 5; i > 0; i--) {
                                        <tr>
                                            <td>`+ i +`</td>
                                            <td>재종 서바이벌</td>
                                            <td>수학</td>
                                            <td>1</td>
                                            <td>브릿지 201호</td>
                                            <td>S반 영어 서바이벌</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            @@include('@@webRoot/_include/_pagination.html')
                        </div>
                        <div class="tab-pane" id="tab1-2" role="tabpanel">
                            <div class="row align-items-end justify-content-between mb-2">
                                <div class="col-auto">
                                    <strong class="mr-2">OMR 입력</strong> 총 ###건
                                </div>
                                <div class="col-auto">
                                    <button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#modal-omr-add">파일업로드</button>
                                    <button type="button" class="btn btn-dark btn-sm ml-1">파일다운로드</button>
                                </div>
                            </div>
                            <div class="main_search_result_list">
                                <!-- softpuzzle에서 쓰는 datatable 고정 클래스명 -->
                                <table class="table table-center" id="datatable1">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>시험</th>
                                            <th>과목(선택)</th>
                                            <th>회차</th>
                                            <th>문번</th>
                                            <th>배점</th>
                                            <th>정답</th>
                                            <th>과목</th>
                                            <th>평가요소(대)</th>
                                            <th>평가요소(중)</th>
                                            <th>평가요소(소)</th>
                                            <th>문제 유형</th>
                                            <th>난이도</th>
                                            <th>킬러 여부</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @@for (var i = 5; i > 0; i--) {
                                        <tr>
                                            <td>`+ i +`</td>
                                            <td>재종 서바이벌</td>
                                            <td>국어(언매)</td>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>2</td>
                                            <td>5</td>
                                            <td>영어</td>
                                            <td>듣기/말하기</td>
                                            <td>말하기</td>
                                            <td></td>
                                            <td>객관식</td>
                                            <td>A</td>
                                            <td>킬러</td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            @@include('@@webRoot/_include/_pagination.html')
                        </div>
                    </div>
                </div>
                <!-- 컨텐츠 끝 -->

            </main>

        </div>

        @@include('@@webRoot/_include/_footer.html')

    </div>

    <!-- modal : 문항 정보 등록 -->
    <div class="modal" tabindex="-1" id="modal-question-add" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">문항 정보 등록</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-title">문항 정보</div>
                    <table class="table table-bordered table-fixed">
                        <colgroup>
                            <col style="width: 100px;">
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>문항 정보</th>
                                <td>
                                    <div class="row row-5">
                                        <div class="col">
                                            <input type="file" class="form-control">
                                        </div>
                                        <div class="col-auto">
                                            <button type="button" class="btn btn-secondary">삭제</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="table-title mt-3">통계 기준 등록</div>
                    <table class="table table-bordered table-fixed">
                        <colgroup>
                            <col style="width: 110px;">
                            <col>
                            <col style="width: 110px;">
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>자동 통계</th>
                                <td>
                                    <input type="radio" name="auto" id="autoY">
                                    <label for="autoY">자동</label>
                                    <input type="radio" name="auto" id="autoN">
                                    <label for="autoN">수동</label>
                                </td>
                                <th>최고점</th>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <th>1등급 컷</th>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                                <th>2등급 컷</th>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    난이도 구분 <br>
                                    <div class="mt-2">
                                        <input type="checkbox" id="autoCopy">
                                        <label for="autoCopy">자동 복제</label>
                                    </div>
                                </th>
                                <td colspan="3">
                                    <table class="table table-center table-borderless border-top-0">
                                        <colgroup>
                                            <col style="width: 40px">
                                            <col>
                                        </colgroup>
                                        <tbody>
                                            <tr>
                                                <td>A</td>
                                                <td class="py-0">
                                                    <div class="row row-5">
                                                        <div class="col">
                                                            <input type="text" class="form-control" placeholder="문항정답률 최저값">
                                                        </div>
                                                        <div class="col">
                                                            <input type="text" class="form-control" placeholder="문항정답률 최대값">
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>B</td>
                                                <td class="py-0">
                                                    <div class="row row-5">
                                                        <div class="col">
                                                            <input type="text" class="form-control" placeholder="문항정답률 최저값">
                                                        </div>
                                                        <div class="col">
                                                            <input type="text" class="form-control" placeholder="문항정답률 최대값">
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>C</td>
                                                <td class="py-0">
                                                    <div class="row row-5">
                                                        <div class="col">
                                                            <input type="text" class="form-control" placeholder="문항정답률 최저값">
                                                        </div>
                                                        <div class="col">
                                                            <input type="text" class="form-control" placeholder="문항정답률 최대값">
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>D</td>
                                                <td class="py-0">
                                                    <div class="row row-5">
                                                        <div class="col">
                                                            <input type="text" class="form-control" placeholder="문항정답률 최저값">
                                                        </div>
                                                        <div class="col">
                                                            <input type="text" class="form-control" placeholder="문항정답률 최대값">
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>E</td>
                                                <td class="py-0">
                                                    <div class="row row-5">
                                                        <div class="col">
                                                            <input type="text" class="form-control" placeholder="문항정답률 최저값">
                                                        </div>
                                                        <div class="col">
                                                            <input type="text" class="form-control" placeholder="문항정답률 최대값">
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-dark">저장</button>
                    <button type="button" class="btn btn-lightgray" data-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal : OMR 등록 -->
    <div class="modal" tabindex="-1" id="modal-omr-add" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">OMR 등록</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-fixed">
                        <colgroup>
                            <col style="width: 70px;">
                            <col>
                            <col style="width: 70px;">
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>시험명</th>
                                <td colspan="3">재종 서바이벌</td>
                            </tr>
                            <tr>
                                <th>영역</th>
                                <td>수학</td>
                                <th>회차</th>
                                <td>3회</td>
                            </tr>
                            <tr>
                                <th>OMR정보</th>
                                <td colspan="3">
                                    <div class="row row-5">
                                        <div class="col">
                                            <input type="file" class="form-control">
                                        </div>
                                        <div class="col-auto">
                                            <button type="button" class="btn btn-secondary">삭제</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-dark">저장</button>
                    <button type="button" class="btn btn-lightgray" data-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal : 현장 시험 등록 -->
    <div class="modal" tabindex="-1" id="modal-exam-add" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">현장 시험 등록</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-fixed">
                        <colgroup>
                            <col style="width: 110px;">
                            <col>
                            <col style="width: 110px;">
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>시험</th>
                                <td>
                                    <select name="" id="" class="custom-select">
                                        <option value=""></option>
                                    </select>
                                </td>
                                <th>현장시험</th>
                                <td>진행</td>
                            </tr>
                            <tr>
                                <th>시험 형태</th>
                                <td>과목별 응시</td>
                                <th>부엉이포스트</th>
                                <td>진행</td>
                            </tr>
                            <tr>
                                <th>시험 영역</th>
                                <td>
                                    <span class="mr-2">수학</span>
                                    <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#modal-exam-subject-select">선택</button>
                                </td>
                                <th>총 회차</th>
                                <td>14</td>
                            </tr>
                            <tr>
                                <th>시험 과목</th>
                                <td colspan="3">수학(확통), 수학(미적), 수학(기하)</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row justify-content-between align-items-end mb-2 mt-3">
                        <div class="col-auto">
                            <div class="table-title mb-0">회차 정보</div>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#modal-exam-session-add">등록</button>
                            <button type="button" class="btn btn-dark btn-sm ml-1" data-toggle="modal" data-target="#modal-exam-session-add">수정</button>
                            <button type="button" class="btn btn-dark btn-sm ml-1">삭제</button>
                        </div>
                    </div>
                    <table class="table table-center">
                        <thead>
                            <tr>
                                <th class="text-center"><input type="checkbox" data-event="checkAll" data-target="examSessionAll"></th>
                                <th>회차</th>
                                <th>시행일</th>
                                <th>사용 컨텐츠</th>
                                <th>시험 주기</th>
                                <th>상태</th>
                            </tr>
                        </thead>
                        <tbody>
                            @@for (var i = 10; i > 0; i--) {
                            <tr>
                                <td class="text-center"><input type="checkbox" name="examSessionAll"></td>
                                <td>`+ i +`</td>
                                <td>5월 2주</td>
                                <td>서바이벌N</td>
                                <td>주 1회</td>
                                <td>시험예정</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-dark">저장</button>
                    <button type="button" class="btn btn-lightgray" data-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal : 현장 시험_회차 추가 -->
    <div class="modal" tabindex="-1" id="modal-exam-session-add" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm" style="max-width: 340px">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">현장 시험_회차 추가</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-fixed">
                        <colgroup>
                            <col style="width: 110px;">
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>추가 회차</th>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <th>시험 주기</th>
                                <td>
                                    <select name="" id="" class="custom-select">
                                        <option value="">매주 시행</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>주기별 횟수</th>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <th>시작일</th>
                                <td>
                                    <input type="text" class="form-control form-datepicker">
                                </td>
                            </tr>
                            <tr>
                                <th>시작 회차</th>
                                <td>1</td>
                            </tr>
                            <tr>
                                <th>사용 컨텐츠</th>
                                <td>
                                    <select name="" id="" class="custom-select">
                                        <option value="">서바이벌N</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-dark">저장</button>
                    <button type="button" class="btn btn-lightgray" data-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal : 시험 과목 선택 -->
    <div class="modal" tabindex="-1" id="modal-exam-subject-select" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">시험 과목 선택</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-fixed">
                        <colgroup>
                            <col style="width: 110px;">
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>시험 영역</th>
                                <td>
                                    <select name="" id="" class="custom-select">
                                        <option value="">수학</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>시험 과목</th>
                                <td>
                                    수학(확통), 수학(미적), 수학(기하)
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="table-title mt-3">시험 과목 선택</div>
                    <table class="table table-center">
                        <thead>
                            <tr>
                                <th class="text-center"><input type="checkbox" data-event="checkAll" data-target="examSubjectAll"></th>
                                <th>학년</th>
                                <th>영역</th>
                                <th>과목</th>
                                <th>선택</th>
                            </tr>
                        </thead>
                        <tbody>
                            @@for (var i = 6; i > 0; i--) {
                            <tr>
                                <td class="text-center"><input type="checkbox" name="examSubjectAll"></td>
                                <td>고3,N</td>
                                <td>수학</td>
                                <td>수학(종합)</td>
                                <td>공통</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-dark">저장</button>
                    <button type="button" class="btn btn-lightgray" data-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>

    <script>

    </script>

</body>

</html>