<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include('../_layout/_head.ejs')%>
</head>

<body>

    <div id="wrap">

        <%- include('../_layout/_header.ejs')%>

        <div id="container-block">

            <%- include('../_layout/_sidebar.ejs')%>

            <main id="content" role="main">

                <!-- 컨텐츠 시작 -->
                <h2 class="title">수업일정표</h2>
                <!-- 컨텐츠 끝 -->

            </main>

        </div>

        <%- include('../_layout/_footer.ejs')%>

    </div>

    <script>

    </script>

</body>

</html>