<aside id="sidebar">
    <div class="sidebar-top">
        <a href="../dashboard/dashboard.html" class="logo">
            <img src="../assets/images/logo-white.svg" alt="시대인재N">
            <span>관리자</span>
        </a>
    </div>
    <nav class="sidebar">
        <div class="overflow-y-scroll">
            <!-- 학원 운영 -->
            <ul class="dep1" data-gnb-code="institute">
                <li class="has-treeview">
                    <a href="javascript:;"><span>학원코드관리</span></a>
                    <ul class="dep2">
                        <li><a href="../institute_code/code_instituteinfo.html"><span>학원정보등록</span></a></li>
                        <li><a href="../institute_code/code_subject.html"><span>과목 관리</span></a></li>
                        <li><a href="../institute_code/code_plan.html"><span>운영계획</span></a></li>
                        <li><a href="../institute_code/code_instructor.html"><span>강사 등록</span></a></li>
                        <li><a href="../institute_code/code_customer.html"><span>거래처 관리</span></a></li>
                        <li><a href="../institute_code/code_authority.html"><span>직원 권한 관리</span></a></li>
                    </ul>
                </li>
                <li class="has-treeview">
                    <a href="javascript:;"><span>수강생관리</span></a>
                    <ul class="dep2">
                        <li><a href="../institute_students/students_manage.html"><span>수강생관리</span></a></li>
                        <li><a href="../institute_students/students_list.html"><span>수강생리스트</span></a></li>
                    </ul>
                </li>
                <li class="has-treeview">
                    <a href=""><span>신청/수납</span></a>
                    <ul class="dep2">
                        <li><a href=""><span>선택교재관리</span></a></li>
                        <li><a href=""><span>수강신청관리</span></a></li>
                        <li><a href=""><span>출결카드관리</span></a></li>
                        <li><a href=""><span>기기대여관리</span></a></li>
                    </ul>
                </li>
                <li class="has-treeview">
                    <a href=""><span>게시판관리</span></a>
                    <ul class="dep2">
                        <li><a href="../institute_board/board_faq.html"><span>FAQ</span></a></li>
                        <li><a href=""><span>가이드북</span></a></li>
                    </ul>
                </li>
                <li>
                    <a href=""><span>급식관리</span></a>

                </li>
            </ul>
            <!-- 학습 관리 -->
            <ul class="dep1" data-gnb-code="learning">
                <li class="has-treeview">
                    <a href="javascript:;"><span>학원시간표</span></a>
                    <ul class="dep2">
                        <li><a href=""><span>수업일정표</span></a></li>
                        <li><a href=""><span>컨텐츠일정표</span></a></li>
                        <li><a href=""><span>변경일정</span></a></li>
                        <li><a href=""><span>주요이벤트</span></a></li>
                    </ul>
                </li>
                <li class="has-treeview">
                    <a href="javascript:;"><span>학습계획</span></a>
                    <ul class="dep2">
                        <li><a href="../learning_plan/plan_class.html"><span>수업 계획</span></a></li>
                        <li><a href=""><span>컨텐츠 계획</span></a></li>
                    </ul>
                </li>
                <li class="has-treeview">
                    <a href="javascript:;"><span>수업/강사관리</span></a>
                    <ul class="dep2">
                        <li><a href=""><span>강사 관리</span></a></li>
                        <li><a href=""><span>컨텐츠 배부</span></a></li>
                        <li><a href=""><span>수업 출결</span></a></li>
                        <li><a href=""><span>수업 결산</span></a></li>
                    </ul>
                </li>
            </ul>
            <!-- 성적 관리 -->
            <ul class="dep1" data-gnb-code="grade">
                <li class="has-treeview">
                    <a href="javascript:;"><span>시험 관리</span></a>
                    <ul class="dep2">
                        <li><a href=""><span>시험 구분 관리</span></a></li>
                        <li><a href=""><span>시험 관리</span></a></li>
                        <li><a href=""><span>학생 답안</span></a></li>
                    </ul>
                </li>
                <li class="has-treeview">
                    <a href="javascript:;"><span>학습 상담</span></a>
                    <ul class="dep2">
                        <li><a href="../grade_consulting/consulting_calendar.html"><span>상담캘린더</span></a></li>
                        <li><a href=""><span>상담기록</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
        </div>
    </nav>

    <div class="quick-menu">
        <strong>퀵 메뉴</strong>
        <div class="btns">
            <button class="btn-quick-setting" data-toggle="modal" data-target="#modal-quick-setting"><i class="material-icons">settings</i></button>
            <button class="btn-quick-expand"><i class="material-icons">expand_less</i></button>
        </div>
        <ul id="quickMenu">
            <li><a href="">퀵 메뉴</a></li>
            <li><a href="">퀵 메뉴</a></li>
            <li><a href="">퀵 메뉴</a></li>
            <li><a href="">퀵 메뉴</a></li>
        </ul>
    </div>

</aside>